In [1]:
from selenium import webdriver
import pandas as pd
import time
from selenium.common.exceptions import NoSuchElementException

### Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data.

In [43]:
driver=webdriver.Chrome(r'C:/chromedriver.exe')

In [3]:
time.sleep(2)
driver.get('https://www.naukri.com/data-analyst-jobs-in-bangalore')

In [4]:
Job_Title= []

In [5]:
for j in driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']"):
    Job_Title.append(j.text)

In [6]:
Job_Title[:10]

['Data Scientist / Data Analyst -Business Analyst',
 'Senior Data Analyst - Data Lineage',
 'Data analysts',
 'Data Analyst - Informatica MDM',
 'Excel VBA Jobs Bangalore | VBA data analyst Jobs',
 'Data Analyst (2positions)//immediate Joiners//bangalore',
 'Data analysts',
 'Business Data Analyst',
 'Data Analyst',
 'Data Analyst']

In [7]:
Job_Location=[]
for i in driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']//span"):
    Job_Location.append(i.text)

In [8]:
Job_Location[:10]

['Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/Gurugram, Chennai, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bengaluru/Bangalore',
 'Bangalore/Bengaluru',
 'Mysore/Mysuru, Coimbatore, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Chennai, Bangalore/Bengaluru, Mumbai (All Areas)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

In [9]:
Company_Name=[]
for i in driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']"):
    Company_Name.append(i.text)

In [10]:
Company_Name[:10]

['Inflexion Analytix Private Limited',
 'Opex Global Services',
 'IBM India Pvt. Limited',
 'Shell India Markets Private Limited',
 'Mind Circus Innovation',
 'Tech Mahindra Ltd.',
 'IBM India Pvt. Limited',
 'dotSolved India Pvt., Ltd.',
 'Myntra Designs Pvt. Ltd.',
 'Myntra Designs Pvt. Ltd.']

In [11]:
Experience_Required=[]
for i in driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']//span"):
    Experience_Required.append(i.text)

In [12]:
Experience_Required[:10]

['0-3 Yrs',
 '5-10 Yrs',
 '5-6 Yrs',
 '6-9 Yrs',
 '0-1 Yrs',
 '4-8 Yrs',
 '3-5 Yrs',
 '9-13 Yrs',
 '3-5 Yrs',
 '3-8 Yrs']

In [13]:
info=list(zip(Job_Title,Job_Location,Company_Name,Experience_Required))

In [14]:
Job_info=pd.DataFrame(info[:10],columns=['Job_Title','Job_Location','Company_Name','Experience_Required'])

In [15]:
Job_info

,Job_Title,Job_Location,Company_Name,Experience_Required
0,Data Scientist / Data Analyst -Business Analyst,"Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/...",Inflexion Analytix Private Limited,0-3 Yrs
1,Senior Data Analyst - Data Lineage,Bangalore/Bengaluru,Opex Global Services,5-10 Yrs
2,Data analysts,Bengaluru/Bangalore,IBM India Pvt. Limited,5-6 Yrs
3,Data Analyst - Informatica MDM,Bangalore/Bengaluru,Shell India Markets Private Limited,6-9 Yrs
4,Excel VBA Jobs Bangalore | VBA data analyst Jobs,"Mysore/Mysuru, Coimbatore, Bangalore/Bengaluru",Mind Circus Innovation,0-1 Yrs
5,Data Analyst (2positions)//immediate Joiners//...,Bangalore/Bengaluru,Tech Mahindra Ltd.,4-8 Yrs
6,Data analysts,Bangalore/Bengaluru,IBM India Pvt. Limited,3-5 Yrs
7,Business Data Analyst,"Chennai, Bangalore/Bengaluru, Mumbai (All Areas)","dotSolved India Pvt., Ltd.",9-13 Yrs
8,Data Analyst,Bangalore/Bengaluru,Myntra Designs Pvt. Ltd.,3-5 Yrs
9,Data Analyst,Bangalore/Bengaluru,Myntra Designs Pvt. Ltd.,3-8 Yrs

## Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, full job-description. You have to scrape first 10 jobs data

In [16]:
time.sleep(2)
driver.get('https://www.naukri.com/data-scientist-jobs-in-bangalore?k=data%20scientist&l=bangalore')

In [17]:
Job_Title= []
for d in driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']"):
    Job_Title.append(d.text)
Job_Title[:10]

['Data Scientist / Data Analyst -Business Analyst',
 'Senior Data Scientist',
 'Senior Data Scientist',
 'VP - Sr. Data Scientist For Morgan Stanley, Bangalore',
 'Lead Data Scientist',
 'Lead Data Scientist',
 'data scientist',
 'Data analytics / Data scientist intern (work from Home)',
 'Data Scientist - IBM Garage',
 'Digital Enterprise Architect (Data Scientist)']

In [18]:
Job_Location=[]
for d in driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']//span"):
    Job_Location.append(d.text)
Job_Location[:10]

['Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/Gurugram, Chennai, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Mumbai, Gurgaon/Gurugram, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Kolkata, Bangalore/Bengaluru, Delhi / NCR',
 'Bengaluru/Bangalore',
 'Bangalore/Bengaluru']

In [19]:
Company_Name=[]
for d in driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']"):
    Company_Name.append(d.text)
Company_Name[:10]

['Inflexion Analytix Private Limited',
 'RedBus',
 'Fractal Analytics',
 'Morgan Stanley Advantage Services',
 'bd',
 'FICO',
 'Global Talent Pool',
 'TalkValley LLC',
 'IBM India Pvt. Limited',
 'Mphasis Limited']

In [22]:
urls=[]
for i in driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']"):
    urls.append(i.get_attribute('href'))
urls

['https://www.naukri.com/job-listings-data-scientist-data-analyst-business-analyst-inflexion-analytix-private-limited-mumbai-hyderabad-secunderabad-pune-gurgaon-gurugram-chennai-bangalore-bengaluru-0-to-3-years-100521000368?src=jobsearchDesk&sid=16237087624742378&xp=1&px=1',
 'https://www.naukri.com/job-listings-senior-data-scientist-redbus-in-ibibo-group-private-limited-bangalore-bengaluru-5-to-8-years-090621001584?src=jobsearchDesk&sid=16237087624742378&xp=2&px=1',
 'https://www.naukri.com/job-listings-senior-data-scientist-fractal-analytics-ltd-mumbai-gurgaon-gurugram-bangalore-bengaluru-5-to-9-years-140621500966?src=jobsearchDesk&sid=16237087624742378&xp=3&px=1',
 'https://www.naukri.com/job-listings-vp-sr-data-scientist-for-morgan-stanley-bangalore-morgan-stanley-advantage-services-pvt-ltd-bangalore-bengaluru-8-to-13-years-010621002131?src=jobsearchDesk&sid=16237087624742378&xp=4&px=1',
 'https://www.naukri.com/job-listings-lead-data-scientist-bd-bangalore-bengaluru-2-to-7-years-310521500918?src=jobsearchDesk&sid=16237087624742378&xp=5&px=1',
 'https://www.naukri.com/job-listings-lead-data-scientist-fico-bangalore-bengaluru-6-to-11-years-090621500701?src=jobsearchDesk&sid=16237087624742378&xp=6&px=1',
 'https://www.naukri.com/job-listings-data-scientist-global-talent-pool-bangalore-bengaluru-0-to-2-years-310521500397?src=jobsearchDesk&sid=16237087624742378&xp=7&px=1',
 'https://www.naukri.com/job-listings-data-analytics-data-scientist-intern-work-from-home-talkvalley-llc-kolkata-bangalore-bengaluru-delhi-ncr-0-to-5-years-050621000128?src=jobsearchDesk&sid=16237087624742378&xp=8&px=1',
 'https://www.naukri.com/job-listings-data-scientist-ibm-garage-ibm-india-pvt-limited-bengaluru-bangalore-2-to-6-years-080621904251?src=jobsearchDesk&sid=16237087624742378&xp=9&px=1',
 'https://www.naukri.com/job-listings-digital-enterprise-architect-data-scientist-mphasis-limited-bangalore-bengaluru-10-to-13-years-030621902728?src=jobsearchDesk&sid=16237087624742378&xp=10&px=1',
 'https://www.naukri.com/job-listings-data-scientist-ibm-india-pvt-limited-bangalore-bengaluru-3-to-6-years-020621905994?src=jobsearchDesk&sid=16237087624742378&xp=11&px=1',
 'https://www.naukri.com/job-listings-data-scientist-ibm-india-pvt-limited-bangalore-bengaluru-3-to-6-years-030621907010?src=jobsearchDesk&sid=16237087624742378&xp=12&px=1',
 'https://www.naukri.com/job-listings-data-scientist-oracle-india-pvt-ltd-noida-bangalore-bengaluru-5-to-9-years-010621004567?src=jobsearchDesk&sid=16237087624742378&xp=13&px=1',
 'https://www.naukri.com/job-listings-senior-data-scientist-infocrunch-campaigns-pvt-ltd-hyderabad-secunderabad-bangalore-bengaluru-delhi-ncr-3-to-7-years-140621000178?src=jobsearchDesk&sid=16237087624742378&xp=14&px=1',
 'https://www.naukri.com/job-listings-senior-data-scientist-walmart-labs-bangalore-bengaluru-8-to-10-years-020621500403?src=jobsearchDesk&sid=16237087624742378&xp=15&px=1',
 'https://www.naukri.com/job-listings-immediate-opening-senior-data-scientist-redbus-in-ibibo-group-private-limited-bangalore-bengaluru-5-to-8-years-140621005528?src=jobsearchDesk&sid=16237087624742378&xp=16&px=1',
 'https://www.naukri.com/job-listings-senior-data-scientist-execboardinasia-bangalore-bengaluru-5-to-10-years-030621500359?src=jobsearchDesk&sid=16237087624742378&xp=17&px=1',
 'https://www.naukri.com/job-listings-senior-data-scientist-with-python-next-bee-corporation-kolkata-chandigarh-hyderabad-secunderabad-pune-ahmedabad-chennai-bangalore-bengaluru-delhi-ncr-mumbai-all-areas-6-to-10-years-140621002374?src=jobsearchDesk&sid=16237087624742378&xp=18&px=1',
 'https://www.naukri.com/job-listings-senior-data-scientist-perform-group-bangalore-bengaluru-4-to-7-years-310521501774?src=jobsearchDesk&sid=16237087624742378&xp=19&px=1',
 'https://www.naukri.com/job-listings-senior-data-scientist-publicis-groupe-bangalore-bengaluru-2-to-5-years-140621501233?src=jobsearchDesk&sid=16237087624742378&xp=20&px=1']

In [31]:
Job_Description=[]
for i in urls[:10]:
    driver.get(i)
    time.sleep(3)
    # fetching job description
    
    try:
        job_desc=driver.find_element_by_xpath("//section[@class='job-desc']")
        Job_Description.append(job_desc.text.replace('\n'," "))
        
    except NoSuchElementException:
        Job_Description.append('_')

In [32]:
Job_Description

["Job description Job Role : Data Scientist/Data Analyst /Business Analyst  Location : Chennai/Bangalore/Hyderabad/Pune/Mumbai/Delhi  Greetings from CAIA - Center for Artificial Intelligence & Advanced Analytics 43% of companies experienced a high deficit of skilled resources with Advanced Analytical skills and AI implementing capabilities in year 2020. CAIA gives you a great opportunity to enter the world of future technologies and Innovations- Data Science, Analytics, AI, Data Visualization and Cloud Computing.  While 2020 was a year like no other, we are living in an interesting times where data is reshaping the world, and businesses are rapidly adopting technology to gain an edge over others. Hence, there's a substantial increase in demand for technology professionals who can implement systems in data science, machine learning and AI in Tier 1 and Tier 2 organization's working closely with us.  To help you build a sustainable career we would like you to utilize data, software and Analytical approaches in Data Science and AI to up skill and get recruited into an organization appreciating your skilling journey. Applications invited from all Freshers and experienced candidates (0-3 yrs) aspiring to make a career in Artificial Intelligence and Advanced Analytics and Data Science. If you wish to make a shift in your career or undergo a career transition, upskilling is essential since it allows you to learn more about the domain and acquire the required skills.  Call to schedule interview Monday -Saturday from 10:00 am to 7Pm  Alexandria A - +91 76958 88879 Manigandan -+91 93444 57360  Email :  alexandriaa@centerforaia.com manigandan@centerforaia.com  What is needed from you?  Freshers who wish to start their career in Analytics and AI and professionals who wish to upskill or change their domain to analytics and emerging technologies are free to apply. An Educational background in any one of the following- BE/B.Tech, ME/M Tech, MSc, BSc/MSc Math's and Statistics, B Com, BCA, BSc CS, BSC IT, MSC IT, MCA Skills relating to Mathematics/Statistics. Natural passion towards numbers, business, coding, Analytics and Artificial Intelligence, Machine Learning, visualization Good verbal and written communication skills Ability to understand domains in businesses across various sectors   Selection procedure includes  Aptitude Test & Communication Exam - Online / Offline SQL/Python test - Online / Offline  Candidates who clears the above will have one-one discussion with our Career Guidance Manager for further evaluation and processing of your Resume.   All the Shortlisted candidates will be eligible to continue the corporate training with CAIA What you can expect from us?  You will get trained on the following modules for a period of 12-14 weeks:  SQL & PLSQL Data Wrangling using Python Data Visualization Using Power-BI Statistics for Machine Learning Artificial Intelligence, Data Interpretation Supervised & Unsupervised Learning, NLP & Deep Learning Cloud Data Lake Business intelligence & Data Visualization Simulation Projects Expected Outcome?  At the end of the Training you are expected to be well versed with the following:  Analysis of large and complex data sets from multiple sources Development and evaluation of data analytics models, algorithms and solutions Understanding/implementation of ML algorithms, performance tuning and reporting Implementation of algorithms to mine targeted data and the ability to convert data in to a business story Translation of business requirements into technical requirements; Data extraction, preparation and transformation Identification, development and implementation of statistical techniques and algorithms that address business challenges and adds value to the organization Requirement Analysis and communication of findings in the form of a meaningful story with the stakeholders Finding analytical solutions to abstract business issues. Apply objective analysis of facts before coming to a conclusion  About CAIA - Inflexion Analytix Private Limited  Center for Artificial Intelligence and Advanced Analytics (Center for AIA) is the brainchild of experienced and visionary alumni of IIT Madras and Bombay. Digital leaders - 5F World and Systech Solutions have joined hands to create a venture for architecting the future of society, workforce, governments and businesses. 5F World specializes in designing solutions around digital platforms and Systech Solutions has an expertise in architecting Artificial Intelligence and Advance Analytics solutions for Fortune 500 companies. Our Website : http://www.centerforaia.com/  https://inflexion-analytix-private-limited.business.site/?m=true  Center for Artificial Intelligence & Advanced Analytics (CAIA) focuses on the following:  1. Global Research on emerging trends, technologies and applications in AI and Advanced Analytics 2. Advanced Training programs for readying the future ready workforce 3. Solutions to herald the futuristic lifestyle and workspaces in the field of AI and Data Science. RoleData Analyst Industry TypeBPO / Call Centre Functional AreaAnalytics & Business Intelligence Employment TypeFull Time, Permanent Role CategoryAnalytics & BI Education UG :Any Graduate in Any Specialization Key Skills Business IntelligenceArtificial IntelligenceBig DataITMachine LearningStatisticsDeep LearningAnalyticsBusiness AnalysisSQLData ScienceNLPCloud ComputingData VisualizationSoftwareData WarehousingPython",
 '_',
 'Job description Serve as primary technical lead on all phases of the projects from providing solutioning, experimentation and deployment. Willing to get your hands dirty with data analysis as well as be comfortable delegating tasks to junior members on the project team, thus providing technical guidance and oversight to the overall project. Hands-on solutioning within the chosen AI platform to partner with both customer and internal data solution architects. Must Have 8 years of experience delivering results from advanced analytics projects; with at least 2 years experience leading a project or large workstream Experience working on data analytics problems in commercial problems space such as pricing, supply chain, marketing or customer experience. Proven track record with building and deploying supervised classification, regression, deep learning and unsupervised clustering models and time series analysis. 5 years of Knowledge and or experience with data transformations using SQL, leveraging SAS or SAS Viya platform. Statistical model building with 5 years of experience Basic understanding of machine learning models development in python and leveraging AWS. Bachelors Degree in Engineering, Mathematics Analytics, Economics or Business Nice to Have 5 years of Knowledge and experience with SAS or SAS Viya platform Experience working with remote teams spread across the globe Machine Learning modelling experience Python programming to build ML models AWS or equivalent other cloud based services knowledge SAS EG Experience working in a data analytics COE or in an analytics consulting company RoleTechnical Architect Industry TypeManagement Consulting Functional AreaIT Software - DBA, Datawarehousing Employment TypeFull Time, Permanent Role CategoryProgramming & Design Education UG :B.Tech/B.E. in Production/Industrial PG :Any Postgraduate in Any Specialization Key Skills Supply chainData analysisSASTime series analysisArtificial IntelligenceConsultingMachine learningData analyticsSQLPython',
 'Job description About Us Morgan Stanley is a leading global financial services firm providing a wide range of investment banking, securities, investment management and wealth management services. We advise, originate, trade, manage and distribute capital for governments, institutions and individuals. As a market leader, the talent and passion of our people is critical to our success. Together, we share a common set of values rooted in integrity, excellence and strong team ethic. We provide you a superior foundation for building a professional career where you can learn, achieve and grow. Technology/Role/Department at Morgan Stanley Technology is the key differentiator that ensures that we manage our global businesses and serve clients on a market leading platform that is resilient, safe, efficient, smart, fast and flexible. Technology redefines how we do business in global, complex and dynamic financial markets. We have a large number of award winning technology platforms that help to propel our Firm’s businesses to be the top in the market. Our India technology teams are based in Mumbai and Bengaluru. We have built strong techno-functional teams which partner with our offices globally taking global ownership of systems and products. We have a vibrant and diverse mix of technologists working on different technologies and functional domains. There is a large focus on innovation, inclusion, giving back to the community and sharing knowledge. Wealth Management Technology (WMIMT) is responsible for the design, development, delivery, and support of the technical platform behind the products and services used by the Business. Morgan Stanley Wealth Management (WM) is a product of the acquisition of Smith Barney from Citigroup, which was completed in June ‘13. Its core client base is individual investors, small- to medium-size businesses and institutions, and high net worth families and individuals. In the second half of ‘14, WM reached a milestone, with its business having surpassed $2 trillion in total client assets. We are seeking a Machine Learning Engineer with expertise in design and development of data and ML centric applications at scale. The right candidate would have a background in data engineering and requisite familiarity and experience working with Machine learning (ML) algorithms and Frameworks. The role is a confluence of engineering (programming), ML and data analysis. Knowledge of Data Science is a plus. This position is for the Decision products which is part of Artificial Intelligence and Knowledge Management group within Morgan Stanley Wealth Management. The team is comprised of members located in NY-United States, Mumbai-India and Bengaluru-India. The team partners with various businesses and IT groups within firm to develop analytics and ML powered solutions aimed at targeting Clients, Participants and Financial Advisors with relevant recommendations. The team accumulates data from a variety of internal and external upstream systems in order to develop statistics, models, dashboards and metrics for the Digital Platforms team. The right candidate has (Responsibilities) • Create ML model training, validation and hyper-parameter search pipelines • Explore new data sources and data. Select appropriate datasets and their representation methods. Perform data analysis (statistical and otherwise), to derive inferences from data • Design machine learning systems, and oversee the platform on which the solutions would be deployed • Ensure data integrity through – Data quality, validation, Governance and Transparency • Design and Build distributed, scalable, and reliable data pipelines that ingest and process data at scale and in real-time • Production deployment and Model monitoring to ensure stable performance and adherence to standards • Evaluate state-of-art data-centric technologies and prototype solutions to improve our architecture and platform • Understand data visualization to create meaningful dashboards for end-users Qualifications - External Primary skills • Experienced professional with 8-15 years of experience developing and implementing ML models in Big data ecosystem i.e. Hadoop, Spark, Kafka, HBase, Hive / Impala, Cassandra, MongoDB or any other similar distributed computing technology • Proficiency with Scala / Python and basic libraries for machine learning such as scikit-learn, pandas, deep-learning • Proficiency in data analysis using complex and optimized SQL and / or above mentioned technologies • Understanding of data structures, data modeling and software architecture • Experience in architecture, design and implementation of data intensive applications for practical use-cases • Expertise in visualizing large datasets in an efficient manner • Ability to work in fast paced and dynamic environment • Good written and verbal communication skills Good to have skills • In-depth understanding of Machine Learning and Statistics, in addition to above • Experience in domains – Financial Risk and Log Analytics • Worked on large scale Anomaly Detection use cases • Practical knowledge of Natural Language Processing (NLP) and/or Neural network implementation • Tableau for data visualization • Experience working in an Agile environment  If you are interested, please respond with your updated resume along with below mentioned details.  CTC: Exp: Notice: Have you earlier worked with Morgan Stanley: RoleIT/Technical Content Developer Industry TypeAccounting / Auditing Functional AreaIT Software - Application Programming, Maintenance Employment TypeFull Time, Permanent Role CategoryOther Education UG :Any Graduate in Any Specialization PG :Any Postgraduate in Any Specialization Doctorate :Any Doctorate in Any Specialization Key Skills Data ScienceNetworking analyticsCyber Securitywealth managementMachine Learning',
 'Job description BD (Becton, Dickinson and Company) Jobs - Lead Data Scientist in Bangalore, India BD (Becton, Dickinson and Company) Jobs BD (Becton, Dickinson and Company) Job Description Summary As a member of the BD Advanced Analytics team, the Data Scientist role will collect, interpret, and deploy predictive analytics and machine learning models to assist our business partners in delivering advanced data analytics solutions to address key strategic business initiatives. The primary focus being the development and deployment of actionable insights that have a positive impact on BD s business operations. Job Description Evaluating business requirements and developing compelling user stories in collaboration with business stakeholders across various functions and regions Collecting, interpreting, preparing and modelling data to provide actionable insights Prototyping advanced data analytics solutions for presentation to business partners and stakeholders Applying predictive analytics and machine learning methods and techniques appropriately to address business requirements Provide expertise to guide business stakeholders in identifying opportunities for the use of BD s data assets for the purpose of advanced data analytics Work closely with data engineering and DataOps peers to productionalize advanced data analytics use cases Qualifications Master s degree in STEM field or equivalent demonstrated work experience Experience with Python, R, Hadoop, HIVE, SPARK, Jupyter and related advanced analytics / machine learning libraries (Scikitlearn, Tensorflow, Keras, ) Minimum 2 years of relevant work experience Ability to translate complex solutions to a non-technical audience (storytelling visualization) Expertise in machine learning, neural networks, clustering, classification, regression and other common advanced analytics methods and techniques Mature competency for critical thinking, problem solving, working with ambiguity, communications and collaboration Experience with technologies related to data preparation, processing optimization (e.g. Azure, HQL, SPARK SQL) Experience with data visualization tools (Power BI) Flexibility to accommodate meetings with international stakeholders in their respective time-zone IND Bangalore - Technology Campus BD is a leading global medical technology company that creates medical technology, devices and laboratory equipment for a variety of needs across the healthcare continuum. At BD, we are looking for candidates who possess passion, innovative solutions and a commitment to our one mission of improving access to groundbreaking medical and biotechnology services for people near and far, delivering state-of-the-art technology and cutting-edge research in the battle to fight and cure infectious diseases. With a global reach that extends across 50 countries worldwide, our network of professionals collaborates on effective measures to deliver enhanced patient quality such as lower health care delivery costs, improved health care and safety, and expanded health care for all. Join our company and see how you can become a part of one global mission to make a difference in human health. Becton, Dickinson and Company is an Equal Opportunity/Affirmative Action Employer. We do not unlawfully discriminate on the basis of race, color, religion, age, sex, creed, national origin, ancestry, citizenship status, marital or domestic or civil union status, familial status, affectional or sexual orientation, gender identity or expression, genetics, disability, military eligibility or veteran status, or any other protected status. RoleSales/Business Development Manager Industry TypeMedical Services / Hospital Functional AreaSales, Retail, Business Development Employment TypeFull Time, Permanent Role CategoryCorporate Sales Education UG :Any Graduate in Any Specialization PG :Post Graduation Not Required Key Skills advanced analyticsNeural networksMachine learningHealthcareGeneticsData analyticsdata visualizationPredictive analyticsSQLBusiness operations',
 'Job description Job Summary The candidate should be a Cybersecurity Data Scientist with a background in machine learning for cybersecurity applications. HeShe will contribute, provide subject matter expertise in the area of cybersecurity for critical infrastructure systems.  Research, develop, design and implement machine learning algorithms for cyber threat detection in operational technology environments, under limited direction. Identify data types to enable detection of cyber events. Test and validate developed algorithms on real operational data. Identify, define, and scope complex data analytics problems in the cybersecurity domain. Develop cross-domain strategies for increased network security and resiliency of the entire network. RoleTeam Lead/Technical Lead Industry TypeAnalytics / KPO / Research Functional AreaIT Software - Network Administration, Security Employment TypeFull Time, Permanent Role CategoryProgramming & Design Education UG :B.Tech/B.E. in Computers PG :Post Graduation Not Required Key Skills big data analyticsArtificial IntelligenceMachine learningAnti money launderingNetwork securitySubject matter expertiseOperationsdigital transformationFraud detectionFICO',
 'Job description Essential Duties Responsibilities Perform basic descriptive data analysis Implement and assess different ways of data transformation Formulate business problems into math / statistics / machine-learning problems Build math / statistics / machine-learning models in a scientific way Carry out hypothesis tests in a scientific way Do model selection and model diagnostics Actively participate in research meetings Support the research team by creating desired datasets Qualifications Good communication skills Excellent analytical and data science skills with strong attention to detail Good Python programmers with good knowledge of pandas/numpy/sklearn Graduate level math and statistics knowledge is preferred Knowledge in machine learning, NLP knowledge is a plus Ability to communicate complex information clearly Ability to work independently Team player and open to new ideas RoleSoftware Developer Industry TypeRecruitment / Staffing Functional AreaIT Software - Other Employment TypeFull Time, Permanent Role CategoryProgramming & Design Education UG :Any Graduate in Any Specialization PG :Post Graduation Not Required Key Skills Computer visionData analysisdata scienceDiagnosticsNetworkingAnalyticalMachine learningResearchStatisticsPython',

In [33]:
info_=list(zip(Job_Title,Job_Location,Company_Name,Job_Description))
Job_info_=pd.DataFrame(info_[:10],columns=['Job_Title','Job_Location','Company_Name','Job_Description'])

In [34]:
Job_info_

,Job_Title,Job_Location,Company_Name,Job_Description
0,Data Scientist / Data Analyst -Business Analyst,"Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/...",Inflexion Analytix Private Limited,Job description Job Role : Data Scientist/Data...
1,Senior Data Scientist,Bangalore/Bengaluru,RedBus,_
2,Senior Data Scientist,"Mumbai, Gurgaon/Gurugram, Bangalore/Bengaluru",Fractal Analytics,Job description Serve as primary technical lea...
3,"VP - Sr. Data Scientist For Morgan Stanley, Ba...",Bangalore/Bengaluru,Morgan Stanley Advantage Services,Job description About Us Morgan Stanley is a l...
4,Lead Data Scientist,Bangalore/Bengaluru,bd,"Job description BD (Becton, Dickinson and Comp..."
5,Lead Data Scientist,Bangalore/Bengaluru,FICO,Job description Job Summary The candidate shou...
6,data scientist,Bangalore/Bengaluru,Global Talent Pool,Job description Essential Duties Responsibilit...
7,Data analytics / Data scientist intern (work f...,"Kolkata, Bangalore/Bengaluru, Delhi / NCR",TalkValley LLC,Job description We are a group of tenured prof...
8,Data Scientist - IBM Garage,Bengaluru/Bangalore,IBM India Pvt. Limited,_
9,Digital Enterprise Architect (Data Scientist),Bangalore/Bengaluru,Mphasis Limited,_

# Q3: In this question you have to scrape data using the filters available on the webpage as shown below:
- You have to use the location and salary filter.
- You have to scrape data for “Data Scientist” designation for first 10 job results.
- You have to scrape the job-title, job-location, company_name,
 experience_required.
- The location filter to be used is “Delhi/NCR”
- The salary filter to be used is “3-6” lakhs
- The task will be done as shown in the below steps:
1. first get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill,Designations,Companies” field .
.
3. Then click the search button.
4. Then apply the location filter and salary filter by checking the respective boxes
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.
Note- All of the above steps have to be done in code. No step is to be done 
manually.

In [52]:
driver.get('https://www.naukri.com/')

In [53]:
search_job = driver.find_element_by_id('qsb-keyword-sugg')
search_job.send_keys("Data Scientist")

In [54]:
search_btn = driver.find_element_by_xpath("//div[@class='search-btn']/button")
search_btn.click()

In [55]:
url="https://www.naukri.com/data-scientist-jobs?k=data%20scientist"
driver.get(url)

In [60]:
s = driver.find_elements_by_xpath("//p[@class='grey-text lH20 fleft ml-8 txtLbl']")
s[2].click()

In [58]:
s = driver.find_elements_by_xpath("//span[@title='3-6 Lakhs']")
s[0].click()

In [61]:
job_titles=[]
job_loc=[]
company_name=[]
experience_required=[]

In [62]:
titles_tag = driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
titles_tag[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="0649c11cd498c89181b143dd2102ff78", element="d1dce6d8-0a9f-4fe0-93a0-e0edcfe86cb3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0649c11cd498c89181b143dd2102ff78", element="5d951d25-8ff4-4597-92f8-9b96a89af3aa")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0649c11cd498c89181b143dd2102ff78", element="1627bafd-b92a-4a96-92ef-ee841e535f3a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0649c11cd498c89181b143dd2102ff78", element="f08f08cc-91db-4022-9caf-3b5a7c178f0b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0649c11cd498c89181b143dd2102ff78", element="07ea23aa-75e3-4cec-b921-78362a7eb32e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0649c11cd498c89181b143dd2102ff78", element="6a653b27-5a7e-4666-8dc6-9b405b1db54b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0649c11cd498c89181b143dd2102ff78", element="3ad8e607-7e08-421d-a4c2-7a012bfd705e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0649c11cd498c89181b143dd2102ff78", element="f7a360c1-3dbf-44cc-82ea-7631afe1c14e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0649c11cd498c89181b143dd2102ff78", element="4024a98a-7675-4fe2-8029-d4e361409abe")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0649c11cd498c89181b143dd2102ff78", element="52881e8c-1483-4f26-86f0-254a06a98668")>]

In [63]:
for i in titles_tag:
    title=i.text
    job_titles.append(title)
job_titles[0:10]

['Data Scientist / Data Analyst -Business Analyst',
 'Junior Data Scientist',
 'Data analytics / Data scientist intern (work from Home)',
 'We are hiring- Data Scientist +Python- Noida',
 'Chaayos is Looking For Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Business Analyst- Data Scientist',
 'Data Scientist',
 'Data Analyst/Scientist Big Data, Statistical Techniques']

In [64]:
l = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']")
l[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="0649c11cd498c89181b143dd2102ff78", element="62ad077b-e03d-48e7-87f9-96e36d988cb3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0649c11cd498c89181b143dd2102ff78", element="aafdb0d5-bd64-4e4f-98de-c393f2d82578")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0649c11cd498c89181b143dd2102ff78", element="2e19ef87-2fcb-4047-b48a-f3d7393d6403")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0649c11cd498c89181b143dd2102ff78", element="4b89a9e5-d382-4f53-bb0b-9ed29ffb88ba")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0649c11cd498c89181b143dd2102ff78", element="3b1dd8d9-ff8d-49a9-bd50-bfb26489ef44")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0649c11cd498c89181b143dd2102ff78", element="ab5c1bcc-2f37-4eb5-a930-ab75cafb9a2b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0649c11cd498c89181b143dd2102ff78", element="89e95f02-7fd0-4f3f-8aae-2f652fc8741b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0649c11cd498c89181b143dd2102ff78", element="ab58b061-8a5c-4049-bd3b-24020f7f0619")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0649c11cd498c89181b143dd2102ff78", element="a8debd9c-228f-4622-afa4-0bc5e9d1a0b7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0649c11cd498c89181b143dd2102ff78", element="8f87f8ba-f080-4e66-8994-4f55db0a357f")>]

In [65]:
for i in l:
    title=i.text
    job_loc.append(title)
job_loc[0:10]

['Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/Gurugram, Chennai, Bangalore/Bengaluru',
 'Noida(Sector-59 Noida)',
 'Kolkata, Bangalore/Bengaluru, Delhi / NCR',
 'Noida, Gurgaon/Gurugram, Delhi / NCR',
 'New Delhi',
 'Mumbai, Gurgaon/Gurugram, Bangalore/Bengaluru',
 'Noida',
 'Noida, Gurgaon/Gurugram',
 'Gurgaon/Gurugram, Delhi / NCR',
 'Gurgaon/Gurugram']

In [66]:
c = driver.find_elements_by_xpath("//div[@class='mt-7 companyInfo subheading lh16']")
c[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="0649c11cd498c89181b143dd2102ff78", element="8d854134-c288-468a-8e20-c5c1f648d8bc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0649c11cd498c89181b143dd2102ff78", element="25c14679-4a9d-43be-9ad3-c4c1d9e0ede5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0649c11cd498c89181b143dd2102ff78", element="d2555b2b-0d7a-4b73-9f74-03d25ba92735")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0649c11cd498c89181b143dd2102ff78", element="8b37b4f4-932c-46de-9787-1b6f455e1655")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0649c11cd498c89181b143dd2102ff78", element="abbdce0d-3232-4a0e-9b72-5ab62d4a81de")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0649c11cd498c89181b143dd2102ff78", element="ef3e362a-c37f-4f31-8b0d-a8c3ec4af953")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0649c11cd498c89181b143dd2102ff78", element="fb9b82dd-6c45-4a8d-9438-f844b8770502")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0649c11cd498c89181b143dd2102ff78", element="264911a2-8692-4d1b-a64f-0cd2b1319a06")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0649c11cd498c89181b143dd2102ff78", element="bbabe9d9-8cfe-484e-a385-6d6771476398")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0649c11cd498c89181b143dd2102ff78", element="0e27ba5c-185d-40ce-bc9a-087a8492d336")>]

In [67]:
for i in c:
    title=i.text
    company_name.append(title)
company_name[0:10]

['Inflexion Analytix Private Limited',
 'R Systems International Ltd.\n3.1\n(302 Reviews)',
 'TalkValley LLC',
 'RANDSTAD INDIA PVT LTD\n4.1\n(1117 Reviews)',
 'Chaayos (Sunshine Teahouse Pvt. Ltd.)\n3.9\n(159 Reviews)',
 'Fractal Analytics\n3.9\n(94 Reviews)',
 'NEC CORPORATION INDIA PRIVATE LIMITED\n3.4\n(13 Reviews)',
 'Wipro\n3.8\n(12473 Reviews)',
 'Milliman India Pvt Ltd\n3.5\n(29 Reviews)',
 'The Search House (A Div of JSD Search House Pvt. L td.)']

In [68]:
e = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']")
e[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="0649c11cd498c89181b143dd2102ff78", element="ae9543c8-1ba8-4f00-965b-15da2e7daf01")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0649c11cd498c89181b143dd2102ff78", element="624f1b70-d2c6-4308-89d9-36853c79c299")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0649c11cd498c89181b143dd2102ff78", element="bbc9385b-7037-40b4-a4b3-ac70277eb15d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0649c11cd498c89181b143dd2102ff78", element="cc6f500e-83b5-4c44-82a9-4c6a6d70197e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0649c11cd498c89181b143dd2102ff78", element="f1b59187-8b0f-4361-922c-cc6473a023e4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0649c11cd498c89181b143dd2102ff78", element="8882b379-2757-4a1c-a1fa-1fdaf4c5df56")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0649c11cd498c89181b143dd2102ff78", element="abfb0f07-fb33-4832-9d02-3ca3e967107a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0649c11cd498c89181b143dd2102ff78", element="f4b7cef0-5961-4ec5-ac0f-cde0742d3ff5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0649c11cd498c89181b143dd2102ff78", element="7f74581a-123b-4932-bad9-8a2932e5b1a8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0649c11cd498c89181b143dd2102ff78", element="c853c5ca-c403-40e6-9a4a-7a29f1cefa24")>]

In [69]:
for i in e:
    title=i.text
    experience_required.append(title)
experience_required[0:10]

['0-3 Yrs',
 '3-5 Yrs',
 '0-5 Yrs',
 '4-7 Yrs',
 '0-5 Yrs',
 '3-7 Yrs',
 '3-8 Yrs',
 '2-5 Yrs',
 '2-5 Yrs',
 '2-7 Yrs']

In [70]:
import pandas as pd
Job_Info=pd.DataFrame({})

Job_Info['JOB TITLE']=job_titles[:10]
Job_Info['LOCATION']=job_loc[:10]
Job_Info['COMPANY']=company_name[:10]
Job_Info['EXPERIENCE']=experience_required[0:10]

Job_Info

,JOB TITLE,LOCATION,COMPANY,EXPERIENCE
0,Data Scientist / Data Analyst -Business Analyst,"Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/...",Inflexion Analytix Private Limited,0-3 Yrs
1,Junior Data Scientist,Noida(Sector-59 Noida),R Systems International Ltd.\n3.1\n(302 Reviews),3-5 Yrs
2,Data analytics / Data scientist intern (work f...,"Kolkata, Bangalore/Bengaluru, Delhi / NCR",TalkValley LLC,0-5 Yrs
3,We are hiring- Data Scientist +Python- Noida,"Noida, Gurgaon/Gurugram, Delhi / NCR",RANDSTAD INDIA PVT LTD\n4.1\n(1117 Reviews),4-7 Yrs
4,Chaayos is Looking For Data Scientist,New Delhi,Chaayos (Sunshine Teahouse Pvt. Ltd.)\n3.9\n(1...,0-5 Yrs
5,Data Scientist,"Mumbai, Gurgaon/Gurugram, Bangalore/Bengaluru",Fractal Analytics\n3.9\n(94 Reviews),3-7 Yrs
6,Data Scientist,Noida,NEC CORPORATION INDIA PRIVATE LIMITED\n3.4\n(1...,3-8 Yrs
7,Business Analyst- Data Scientist,"Noida, Gurgaon/Gurugram",Wipro\n3.8\n(12473 Reviews),2-5 Yrs
8,Data Scientist,"Gurgaon/Gurugram, Delhi / NCR",Milliman India Pvt Ltd\n3.5\n(29 Reviews),2-5 Yrs
9,"Data Analyst/Scientist Big Data, Statistical T...",Gurgaon/Gurugram,The Search House (A Div of JSD Search House Pv...,2-7 Yrs

# Q4: Write a python program to scrape data for first 10 job results for Data scientist Designation in Noida location. You have to scrape company_name, No. of days ago when job was posted, Rating of the company.

In [87]:
driver=webdriver.Chrome(r'C:/chromedriver.exe')

In [88]:
driver.get('https://www.glassdoor.co.in/index.htm')

In [92]:
search_job = driver.find_element_by_id('scKeyword')
search_job.send_keys("Data Scientist")
search_loc= driver.find_element_by_id('scLocation')
search_loc.send_keys("Noida")

In [93]:
search_btn = driver.find_element_by_xpath("//div[@class='d-flex SearchStyles__searchKeywordContainer SearchStyles__searchFormInputContainer']/button")
search_btn.click()

In [94]:
url="https://www.glassdoor.co.in/Job/noida-data-scientist-jobs-SRCH_IL.0,5_IC4477468_KO6,20.htm"

In [95]:
driver.get(url)

In [96]:
job_titles=[]
job_loc=[]
company_name=[]

In [97]:
t = driver.find_elements_by_xpath("//a[@class='jobLink css-1rd3saf eigr9kq2']")
t[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="a29fa38ca5ab0d9d899c4c56caced579", element="84521274-9cd8-4c88-82e2-91801ac75fe0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a29fa38ca5ab0d9d899c4c56caced579", element="56ecabef-ac5c-46ca-bac3-ff1d10933da0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a29fa38ca5ab0d9d899c4c56caced579", element="9913b6e6-fd7a-4dc6-a0c8-55f3146c277c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a29fa38ca5ab0d9d899c4c56caced579", element="33f526f5-7b26-4001-913e-b5bd2c95f502")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a29fa38ca5ab0d9d899c4c56caced579", element="f48ac9ea-c3eb-4e47-8547-9b6fbbc11650")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a29fa38ca5ab0d9d899c4c56caced579", element="1a48b3d4-4d9d-4813-b955-e4fba2d2db3f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a29fa38ca5ab0d9d899c4c56caced579", element="ac9511ba-0bb7-4582-b0a7-8d9e2799e46b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a29fa38ca5ab0d9d899c4c56caced579", element="91133ea8-22f8-42a7-ac1c-948bd7ec9d6b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a29fa38ca5ab0d9d899c4c56caced579", element="2e029e1b-4c9d-42eb-b482-b1a1bc695355")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a29fa38ca5ab0d9d899c4c56caced579", element="9f588af8-6d18-4f23-96f2-689e92f0c081")>]

In [98]:
for i in t:
    title=i.text
    job_titles.append(title)
job_titles[0:10]

['Data Analyst',
 'Data Engineer - Python with Azure ADF',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist']

In [99]:
l = driver.find_elements_by_xpath("//span[@class='pr-xxsm css-1ndif2q e1rrn5ka0']")
l[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="a29fa38ca5ab0d9d899c4c56caced579", element="e5b06323-8156-4940-8e39-06972f0846e7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a29fa38ca5ab0d9d899c4c56caced579", element="a829caab-8744-47e9-b3d8-e7dff7c0e54a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a29fa38ca5ab0d9d899c4c56caced579", element="13dceb05-15f9-4788-ab48-6a3223571267")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a29fa38ca5ab0d9d899c4c56caced579", element="beeeca80-a119-422e-88bd-ddea801686b8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a29fa38ca5ab0d9d899c4c56caced579", element="42c2cc30-6322-403b-bc02-76872f432371")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a29fa38ca5ab0d9d899c4c56caced579", element="462826ef-3712-44b6-a07e-92dee310b656")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a29fa38ca5ab0d9d899c4c56caced579", element="877cf6e0-915e-484a-a446-61ac5b9610f5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a29fa38ca5ab0d9d899c4c56caced579", element="a5d98d38-fc9a-4e78-b1db-698fe7407b41")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a29fa38ca5ab0d9d899c4c56caced579", element="738bfa47-c46f-4cde-acc3-cd1eba7a64e2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a29fa38ca5ab0d9d899c4c56caced579", element="e909a9d0-27c0-4b6f-9fff-ea01f9e431f2")>]

In [100]:
for i in l:
    title=i.text
    job_loc.append(title)
job_loc[0:10]

['New Delhi',
 'New Delhi',
 'Noida',
 'Noida',
 'Noida',
 'Noida',
 'Noida',
 'Noida',
 'Gurgaon',
 'Noida']

In [101]:
c = driver.find_elements_by_xpath("//div[@class='d-flex justify-content-between align-items-start']")
c[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="a29fa38ca5ab0d9d899c4c56caced579", element="7ffafefd-7a3f-48b1-9d82-82e2d056d036")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a29fa38ca5ab0d9d899c4c56caced579", element="97b21e38-7636-47b5-8aa6-5857d4806313")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a29fa38ca5ab0d9d899c4c56caced579", element="7c8535a4-d0dd-4bd0-87a8-6c8b5b328e47")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a29fa38ca5ab0d9d899c4c56caced579", element="5c4675a5-ec97-42fe-82bd-265a56be19da")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a29fa38ca5ab0d9d899c4c56caced579", element="ecf21ee0-2f63-40bd-9e83-44c0b15e4297")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a29fa38ca5ab0d9d899c4c56caced579", element="a376698c-3e81-42c8-a84a-8b31ed6f886b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a29fa38ca5ab0d9d899c4c56caced579", element="76d48a03-01e3-48b2-9d99-474fd4751945")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a29fa38ca5ab0d9d899c4c56caced579", element="951a91f1-2334-4ac5-9367-6476927c7115")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a29fa38ca5ab0d9d899c4c56caced579", element="be62f254-1d57-41ac-82c0-74a1326997c5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a29fa38ca5ab0d9d899c4c56caced579", element="3942ac1a-b8f4-4472-aa8b-acaad559b4fd")>]

In [102]:
for i in c:
    title=i.text
    company_name.append(title)
company_name[0:10]

['Taboola',
 'Bechtel',
 'Biz2Credit Inc',
 'Data Patterns',
 '',
 'Priority Vendor',
 'Crowe',
 'Lantern Digital Services',
 'United Airlines Inc.',
 'xtLytics']

In [103]:
import pandas as pd
Job_Info=pd.DataFrame({})

Job_Info['JOB TITLE']=job_titles[:10]
Job_Info['LOCATION']=job_loc[:10]
Job_Info['COMPANY']=company_name[:10]
Job_Info

                               JOB TITLE   LOCATION                   COMPANY
0                           Data Analyst  New Delhi                   Taboola
1  Data Engineer - Python with Azure ADF  New Delhi                   Bechtel
2                         Data Scientist      Noida            Biz2Credit Inc
3                         Data Scientist      Noida             Data Patterns
4                         Data Scientist      Noida
5                         Data Scientist      Noida           Priority Vendor
6                         Data Scientist      Noida                     Crowe
7                         Data Scientist      Noida  Lantern Digital Services
8                         Data Scientist    Gurgaon      United Airlines Inc.
9                         Data Scientist      Noida                  xtLytics

# Q5: Write a python program to scrape the salary data for Data Scientist designation in Noida location. You have to scrape Company name, Number of salaries, Average salary, Min salary, Max Salary.

In [105]:
driver=webdriver.Chrome(r'C:/chromedriver.exe')

In [172]:
driver.get('https://www.glassdoor.co.in/Salaries/index.htm')

In [173]:
search_job = driver.find_element_by_id('KeywordSearch')
search_job.send_keys("Data Scientist")
search_loc= driver.find_element_by_id('LocationSearch')
search_loc.send_keys("Noida")

In [174]:
search_btn = driver.find_element_by_id('HeroSearchButton')
search_btn.click()

In [175]:
url="https://www.glassdoor.co.in/Salaries/new-delhi-data-scientist-salary-SRCH_IL.0,9_IM1083_KO10,24.htm?clickSource=searchBtn"

In [176]:
driver.get(url)

In [177]:
avg_salary=[]
salary_r=[]
company_name=[]

In [178]:
c = driver.find_elements_by_xpath("//p[@class='m-0 ']")
c[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="45040bfb1766a0fdcf083d3a74bb6808", element="c3543dd9-004e-4a8a-8535-62ca6cc7dc83")>,
 <selenium.webdriver.remote.webelement.WebElement (session="45040bfb1766a0fdcf083d3a74bb6808", element="d6e5052c-a494-46d3-b600-d22039132e79")>,
 <selenium.webdriver.remote.webelement.WebElement (session="45040bfb1766a0fdcf083d3a74bb6808", element="80dbd3ee-833c-46d9-b49a-ad8f465a6fbb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="45040bfb1766a0fdcf083d3a74bb6808", element="d9a5c311-4ddf-45c7-a268-fcd2d298cbf7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="45040bfb1766a0fdcf083d3a74bb6808", element="4dc63b6e-8029-451d-be8e-398ae02b4e12")>,
 <selenium.webdriver.remote.webelement.WebElement (session="45040bfb1766a0fdcf083d3a74bb6808", element="e6ba5fcc-c06a-4a6e-94e4-c738cabe25c0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="45040bfb1766a0fdcf083d3a74bb6808", element="c1722850-1fd9-4ffc-8ed5-935bb462450a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="45040bfb1766a0fdcf083d3a74bb6808", element="eee32fb6-ed7f-474b-994a-7fdd53490454")>,
 <selenium.webdriver.remote.webelement.WebElement (session="45040bfb1766a0fdcf083d3a74bb6808", element="c4e75765-2b1d-4346-bb66-299b5fe90f50")>,
 <selenium.webdriver.remote.webelement.WebElement (session="45040bfb1766a0fdcf083d3a74bb6808", element="64b9c705-92dc-4795-ace0-ae1b00566151")>]

In [179]:
for i in c:
    title=i.text
    company_name.append(title)
company_name[0:10]

['Tata Consultancy Services',
 'IBM',
 'Accenture',
 'Ericsson-Worldwide',
 'Delhivery',
 'UnitedHealth Group',
 'Optum Global Solutions',
 'Valiance Solutions',
 'ZS Associates',
 'EXL Service']

In [180]:
a = driver.find_elements_by_xpath("//div[@class='col-2 d-none d-md-flex flex-row justify-content-end']")
a[0:10]
for i in a:
    title=i.text.replace('\n','')
    avg_salary.append(title)
avg_salary[0:10]

['₹6,15,289/yr',
 '₹9,00,000/yr',
 '₹11,48,366/yr',
 '₹7,39,238/yr',
 '₹12,41,763/yr',
 '₹13,38,279/yr',
 '₹13,28,697/yr',
 '₹8,16,495/yr',
 '₹11,42,356/yr',
 '₹11,46,073/yr']

In [181]:
ma = driver.find_elements_by_xpath("//div[@class='common__RangeBarStyle__values d-flex justify-content-between ']")
ma[0:10]
for i in ma:
    title=i.text.replace('\n','-')
    salary_r.append(title)
salary_r[0:10]

['₹3L-₹13L',
 '₹6L-₹27L',
 '₹6L-₹22L',
 '₹4L-₹16L',
 '₹5L-₹1Cr',
 '₹11L-₹15L',
 '₹4L-₹22L',
 '₹5L-₹15L',
 '₹2L-₹18L',
 '₹6L-₹15L']

In [182]:
import pandas as pd
Info=pd.DataFrame({})

Info['COMPANY']=company_name[0:10]
Info['Salary Range']=salary_r[0:10]
Info['Average Salary']=avg_salary[0:10]

In [183]:
Info

                     COMPANY Salary Range Average Salary
0  Tata Consultancy Services     ₹3L-₹13L   ₹6,15,289/yr
1                        IBM     ₹6L-₹27L   ₹9,00,000/yr
2                  Accenture     ₹6L-₹22L  ₹11,48,366/yr
3         Ericsson-Worldwide     ₹4L-₹16L   ₹7,39,238/yr
4                  Delhivery     ₹5L-₹1Cr  ₹12,41,763/yr
5         UnitedHealth Group    ₹11L-₹15L  ₹13,38,279/yr
6     Optum Global Solutions     ₹4L-₹22L  ₹13,28,697/yr
7         Valiance Solutions     ₹5L-₹15L   ₹8,16,495/yr
8              ZS Associates     ₹2L-₹18L  ₹11,42,356/yr
9                EXL Service     ₹6L-₹15L  ₹11,46,073/yr

# Q6 : Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
1. Brand
2. Product Description
3. Price
4. Discount %

In [257]:
driver=webdriver.Chrome(r'C:/chromedriver.exe')

In [258]:
driver.get('https://www.flipkart.com/')

In [259]:
s = driver.find_elements_by_xpath("//input[@class='_3704LK']")
s[0].send_keys('sunglasses')

In [260]:
search_btn = driver.find_elements_by_xpath("//div[@class='col-12-12 _2oO9oE']/button")
search_btn[0].click()

In [261]:
url="https://www.flipkart.com/search?q=sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off"

In [262]:
driver.get(url)

In [263]:
Brand=[]
Product_d=[]
Price=[]
Discount=[]

In [267]:
b = driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
b[0:40]

for i in b:
    title=i.text
    Brand.append(title)
Brand[0:40]

['PIRASO',
 'Fastrack',
 'Fastrack',
 'ROZZETTA CRAFT',
 'Fastrack',
 'PIRASO',
 'Singco',
 'DEIXELS',
 'PIRASO',
 'PIRASO',
 'ROZZETTA CRAFT',
 'ROZZETTA CRAFT',
 'HIPPON',
 'Fastrack',
 'kingsunglasses',
 'GANSTA',
 'ROYAL SON',
 'PHENOMENAL',
 'Singco India',
 'PIRASO',
 'ROYAL SON',
 'ROYAL SON',
 'NuVew',
 'Singco India',
 'Fastrack',
 'hipe',
 'PHENOMENAL',
 'GANSTA',
 'PIRASO',
 'ROYAL SON',
 'Fravy',
 'NuVew',
 'hipe',
 'elegante',
 'ROZZETTA CRAFT',
 'Singco India',
 'Fastrack',
 'Cristiano Ronnie',
 'ROZZETTA CRAFT',
 'Poland']

In [268]:
p = driver.find_elements_by_xpath("//a[@class='IRpwTa']")
p[0:40]

for i in p:
    title=i.text
    Product_d.append(title)
Product_d[0:40]

['UV Protection Aviator Sunglasses (54)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection, Gradient Rectangular Sunglasses (Free Si...',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (54)',
 'Mirrored Aviator Sunglasses (53)',
 'UV Protection Aviator, Wayfarer Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (58)',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection, Gradient Rectangular Sunglasses (Free Si...',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (55)',
 'UV Protection Aviator Sunglasses (58)',
 'Mirrored, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (57)',
 'UV Protection, Gradient Wayfarer Sunglasses (55)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection, Riding Glasses, Others Aviator, Wayfarer...',
 'UV Protection Aviator Sunglasses (Free Size)',
 'Mirrored Aviator Sunglasses (55)',
 'UV Protection Rectangular Sunglasses (58)',
 'UV Protection Aviator Sunglasses (57)',
 'UV Protection Round Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'Mirrored, UV Protection, Gradient Round Sunglasses (55)',
 'UV Protection, Mirrored Retro Square Sunglasses (53)',
 'UV Protection, Mirrored Wayfarer Sunglasses (53)',
 'UV Protection Wayfarer Sunglasses (32)',
 'UV Protection Wayfarer Sunglasses (55)',
 'UV Protection, Gradient, Night Vision Retro Square Sung...',
 'UV Protection Aviator Sunglasses (58)',
 'UV Protection Sports Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (Free Size)',
 'UV Protection, Gradient Round Sunglasses (Free Size)',
 'Mirrored, Riding Glasses, Others Sports Sunglasses (50)',
 'UV Protection Wrap-around Sunglasses (Free Size)',
 'UV Protection, Riding Glasses Aviator Sunglasses (57)',
 'UV Protection, Riding Glasses Rectangular Sunglasses (F...',
 'UV Protection Wayfarer Sunglasses (Free Size)']

In [269]:
pr = driver.find_elements_by_xpath("//div[@class='_30jeq3']")
pr[0:40]
for i in pr:
    title=i.text
    Price.append(title)
Price[0:40]

['₹237',
 '₹541',
 '₹537',
 '₹404',
 '₹733',
 '₹237',
 '₹249',
 '₹213',
 '₹331',
 '₹237',
 '₹499',
 '₹499',
 '₹251',
 '₹1,085',
 '₹299',
 '₹281',
 '₹229',
 '₹399',
 '₹212',
 '₹331',
 '₹319',
 '₹399',
 '₹156',
 '₹209',
 '₹674',
 '₹210',
 '₹399',
 '₹199',
 '₹237',
 '₹279',
 '₹329',
 '₹227',
 '₹319',
 '₹199',
 '₹449',
 '₹252',
 '₹607',
 '₹399',
 '₹449',
 '₹162']

In [270]:
d = driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']")
d[0:40]
for i in d:
    title=i.text
    Discount.append(title)
Discount[0:40]

['85% off',
 '32% off',
 '32% off',
 '79% off',
 '18% off',
 '85% off',
 '75% off',
 '82% off',
 '87% off',
 '85% off',
 '77% off',
 '77% off',
 '79% off',
 '16% off',
 '88% off',
 '85% off',
 '77% off',
 '80% off',
 '69% off',
 '79% off',
 '78% off',
 '73% off',
 '79% off',
 '79% off',
 '25% off',
 '85% off',
 '80% off',
 '80% off',
 '85% off',
 '78% off',
 '83% off',
 '71% off',
 '83% off',
 '80% off',
 '77% off',
 '83% off',
 '32% off',
 '74% off',
 '79% off',
 '67% off']

In [271]:
import pandas as pd
table=pd.DataFrame({})

table['Brand']=Brand[:40]
table['Product Description']=Product_d[:40]
table['Price']=Price[:40]
table['Discount']=Discount[0:40]

table

,Brand,Product Description,Price,Discount
0,PIRASO,UV Protection Aviator Sunglasses (54),₹237,85% off
1,Fastrack,UV Protection Rectangular Sunglasses (Free Size),₹541,32% off
2,Fastrack,"Gradient, UV Protection Wayfarer Sunglasses (F...",₹537,32% off
3,ROZZETTA CRAFT,"UV Protection, Gradient Rectangular Sunglasses...",₹404,79% off
4,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹733,18% off
5,PIRASO,UV Protection Aviator Sunglasses (54),₹237,85% off
6,Singco,Mirrored Aviator Sunglasses (53),₹249,75% off
7,DEIXELS,"UV Protection Aviator, Wayfarer Sunglasses (Fr...",₹213,82% off
8,PIRASO,UV Protection Aviator Sunglasses (58),₹331,87% off
9,PIRASO,UV Protection Aviator Sunglasses (54),₹237,85% off
10,ROZZETTA CRAFT,"UV Protection, Gradient Rectangular Sunglasses...",₹499,77% off
11,ROZZETTA CRAFT,UV Protection Retro Square Sunglasses (Free Size),₹499,77% off
12,HIPPON,UV Protection Wayfarer Sunglasses (55),₹251,79% off
13,Fastrack,UV Protection Aviator Sunglasses (58),"₹1,085",16% off
14,kingsunglasses,"Mirrored, UV Protection Wayfarer Sunglasses (F...",₹299,88% off
15,GANSTA,UV Protection Aviator Sunglasses (57),₹281,85% off
16,ROYAL SON,"UV Protection, Gradient Wayfarer Sunglasses (55)",₹229,77% off
17,PHENOMENAL,UV Protection Retro Square Sunglasses (Free Size),₹399,80% off
18,Singco India,"UV Protection, Riding Glasses, Others Aviator,...",₹212,69% off
19,PIRASO,UV Protection Aviator Sunglasses (Free Size),₹331,79% off
20,ROYAL SON,Mirrored Aviator Sunglasses (55),₹319,78% off
21,ROYAL SON,UV Protection Rectangular Sunglasses (58),₹399,73% off
22,NuVew,UV Protection Aviator Sunglasses (57),₹156,79% off
23,Singco India,UV Protection Round Sunglasses (Free Size),₹209,79% off
24,Fastrack,UV Protection Aviator Sunglasses (Free Size),₹674,25% off
25,hipe,"Mirrored, UV Protection, Gradient Round Sungla...",₹210,85% off
26,PHENOMENAL,"UV Protection, Mirrored Retro Square Sunglasse...",₹399,80% off
27,GANSTA,"UV Protection, Mirrored Wayfarer Sunglasses (53)",₹199,80% off
28,PIRASO,UV Protection Wayfarer Sunglasses (32),₹237,85% off
29,ROYAL SON,UV Protection Wayfarer Sunglasses (55),₹279,78% off
30,Fravy,"UV Protection, Gradient, Night Vision Retro Sq...",₹329,83% off
31,NuVew,UV Protection Aviator Sunglasses (58),₹227,71% off
32,hipe,UV Protection Sports Sunglasses (Free Size),₹319,83% off
33,elegante,UV Protection Round Sunglasses (Free Size),₹199,80% off
34,ROZZETTA CRAFT,"UV Protection, Gradient Round Sunglasses (Free...",₹449,77% off
35,Singco India,"Mirrored, Riding Glasses, Others Sports Sungla...",₹252,83% off
36,Fastrack,UV Protection Wrap-around Sunglasses (Free Size),₹607,32% off
37,Cristiano Ronnie,"UV Protection, Riding Glasses Aviator Sunglass...",₹399,74% off
38,ROZZETTA CRAFT,"UV Protection, Riding Glasses Rectangular Sung...",₹449,79% off
39,Poland,UV Protection Wayfarer Sunglasses (Free Size),₹162,67% off

In [272]:
next_btn = driver.find_element_by_xpath("//a[@class='_1LKTO3']/span")
next_btn.click()

In [273]:
url="https://www.flipkart.com/search?q=sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=2"

In [274]:
driver.get(url)

In [275]:
Brand_2=[]
Product_d2=[]
Price_2=[]
Discount_2=[]

In [276]:
b = driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
b[0:40]

for i in b:
    title=i.text
    Brand_2.append(title)
Brand_2[0:40]

['PHENOMENAL',
 'ROZZETTA CRAFT',
 'ROZZETTA CRAFT',
 'Singco India',
 'Fastrack',
 'DEIXELS',
 'NuVew',
 'Flizz',
 'GANSTA',
 'DEIXELS',
 'PHENOMENAL',
 'hipe',
 'PIRASO',
 'Badfella',
 'Fastrack',
 'NuVew',
 'Fastrack',
 'PHENOMENAL',
 'ROZZETTA CRAFT',
 'Fastrack',
 'PIRASO',
 'ROYAL SON',
 'ROZZETTA CRAFT',
 'Fastrack',
 'PHENOMENAL',
 'AISLIN',
 'Fastrack',
 'GANSTA',
 'Flizz',
 'AISLIN',
 'ROZZETTA CRAFT',
 'kingsunglasses',
 'ROZZETTA CRAFT',
 'Fastrack',
 'Silver Kartz',
 'PIRASO',
 'ROYAL SON',
 'elegante',
 'ROYAL SON',
 'Fravy']

In [277]:
p = driver.find_elements_by_xpath("//a[@class='IRpwTa']")
p[0:40]


for i in p:
    title=i.text
    Product_d2.append(title)
Product_d2[0:40]

['UV Protection, Mirrored Retro Square Sunglasses (53)',
 'UV Protection, Riding Glasses Rectangular Sunglasses (F...',
 'UV Protection, Gradient Retro Square Sunglasses (Free S...',
 'UV Protection Aviator Sunglasses (Free Size)',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'Polarized, UV Protection, Riding Glasses Wayfarer Sungl...',
 'UV Protection, Riding Glasses Aviator Sunglasses (58)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection, Night Vision, Riding Glasses Aviator Sun...',
 'UV Protection Round Sunglasses (Free Size)',
 'UV Protection Clubmaster Sunglasses (Free Size)',
 'Mirrored Wayfarer Sunglasses (55)',
 'UV Protection Butterfly Sunglasses (65)',
 'Polarized, UV Protection Retro Square Sunglasses (53)',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection, Mirrored Sports Sunglasses (73)',
 'UV Protection Wayfarer Sunglasses (56)',
 'UV Protection, Mirrored Clubmaster Sunglasses (Free Siz...',
 'Gradient, UV Protection Round Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection Retro Square Sunglasses (58)',
 'UV Protection, Gradient Round Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection, Mirrored Retro Square Sunglasses (Free S...',
 'UV Protection Oval Sunglasses (60)',
 'Mirrored, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection, Riding Glasses Wayfarer Sunglasses (53)',
 'UV Protection, Polarized Rectangular Sunglasses (Free S...',
 'UV Protection, Gradient Butterfly, Retro Square Sunglas...',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (Free Size)',
 'UV Protection, Gradient Round Sunglasses (Free Size)',
 'UV Protection Shield Sunglasses (Free Size)',
 'UV Protection Oval Sunglasses (56)',
 'UV Protection Aviator Sunglasses (58)',
 'Mirrored Aviator Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (Free Size)',
 'Polarized Rectangular Sunglasses (65)',
 'UV Protection Retro Square Sunglasses (Free Size)']

In [278]:
pr = driver.find_elements_by_xpath("//div[@class='_30jeq3']")
pr[0:40]

for i in pr:
    title=i.text
    Price_2.append(title)
Price_2[0:40]

['₹399',
 '₹449',
 '₹449',
 '₹349',
 '₹638',
 '₹249',
 '₹437',
 '₹399',
 '₹292',
 '₹219',
 '₹319',
 '₹219',
 '₹323',
 '₹269',
 '₹589',
 '₹367',
 '₹759',
 '₹319',
 '₹449',
 '₹576',
 '₹237',
 '₹499',
 '₹449',
 '₹647',
 '₹399',
 '₹764',
 '₹777',
 '₹260',
 '₹279',
 '₹574',
 '₹398',
 '₹339',
 '₹449',
 '₹759',
 '₹299',
 '₹298',
 '₹399',
 '₹199',
 '₹699',
 '₹289']

In [279]:
d = driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']")
d[0:40]

[<selenium.webdriver.remote.webelement.WebElement (session="c3e115a74d1cff5f36968664f66e94e9", element="f3199ce0-d6ec-4d32-8d62-3fa2715be040")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c3e115a74d1cff5f36968664f66e94e9", element="7683683b-0f81-4228-8cf2-ba69729ca62b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c3e115a74d1cff5f36968664f66e94e9", element="29728a22-de1e-4349-a9ea-10626f709fd8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c3e115a74d1cff5f36968664f66e94e9", element="b6449f52-669a-42f8-a0d5-8549d6858137")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c3e115a74d1cff5f36968664f66e94e9", element="7d02e095-93db-473c-80ef-70d89ec6b212")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c3e115a74d1cff5f36968664f66e94e9", element="94e00bc8-8faf-4a38-8102-1c34a50cf7f5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c3e115a74d1cff5f36968664f66e94e9", element="f594f0d0-85fd-4fac-b6fa-d3ac7e94f16c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c3e115a74d1cff5f36968664f66e94e9", element="9365c379-112d-4da2-86be-7e6f95caf26e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c3e115a74d1cff5f36968664f66e94e9", element="c010c2a2-66b3-4798-a0e0-cf21485daf28")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c3e115a74d1cff5f36968664f66e94e9", element="3ae74865-ac60-4768-8fbe-a17fd29c5216")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c3e115a74d1cff5f36968664f66e94e9", element="7f16e246-28ee-4c29-a7ed-1255522133f3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c3e115a74d1cff5f36968664f66e94e9", element="840da271-283d-4fac-bde1-7de239a7b697")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c3e115a74d1cff5f36968664f66e94e9", element="96a5cfad-e7d0-41e9-92d1-907834e2b3e4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c3e115a74d1cff5f36968664f66e94e9", element="28403b58-a9d7-4985-9119-32b4bdb04d23")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c3e115a74d1cff5f36968664f66e94e9", element="4117ea68-9733-4877-a820-8946806d1359")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c3e115a74d1cff5f36968664f66e94e9", element="dd44b4c4-187e-4497-ba3d-05e1676c017e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c3e115a74d1cff5f36968664f66e94e9", element="37ad88e5-8dfd-4ee7-b865-af6807d2d0a9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c3e115a74d1cff5f36968664f66e94e9", element="70647501-9b79-4bbc-83a6-a01ad151fa2f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c3e115a74d1cff5f36968664f66e94e9", element="d1854f71-20ec-4cde-9be4-f5275fb248a5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c3e115a74d1cff5f36968664f66e94e9", element="700fcef9-a118-4a4e-9c63-4c2b462f1e8b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c3e115a74d1cff5f36968664f66e94e9", element="2928f7e7-7d6e-4f5b-a48d-3c3795ac2bc0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c3e115a74d1cff5f36968664f66e94e9", element="42d91079-786a-4f4d-b0ab-1bf93152d0ab")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c3e115a74d1cff5f36968664f66e94e9", element="705fb689-c2be-43e9-9988-595ab5444512")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c3e115a74d1cff5f36968664f66e94e9", element="a50afdf7-7a4b-40d1-bdaa-8a3262393950")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c3e115a74d1cff5f36968664f66e94e9", element="97d293bc-c6dd-4373-ad74-fd8a0ecc0fcc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c3e115a74d1cff5f36968664f66e94e9", element="e7b2ba35-4720-41b4-a29e-39f244777f72")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c3e115a74d1cff5f36968664f66e94e9", element="08381a73-eabd-417d-9915-83755a8063d1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c3e115a74d1cff5f36968664f66e94e9", element="641a36df-4cf9-420b-b455-1df2482f2844")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c3e115a74d1cff5f36968664f66e94e9", element="c5cec7e9-4e18-4848-b74c-0cd0e96a5d52")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c3e115a74d1cff5f36968664f66e94e9", element="eb2fe397-7678-4915-9357-c90ab3d6a6c7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c3e115a74d1cff5f36968664f66e94e9", element="416d5924-e7bc-4c2b-b173-586e9a75c932")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c3e115a74d1cff5f36968664f66e94e9", element="eb42f26a-e78a-46af-894c-2655d1f2286f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c3e115a74d1cff5f36968664f66e94e9", element="14b466af-dc4d-4bea-a400-2b8e29e4bb54")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c3e115a74d1cff5f36968664f66e94e9", element="53704a96-7b1b-49a9-ac36-dcb5fde09945")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c3e115a74d1cff5f36968664f66e94e9", element="8a4efaa1-1f8d-4d29-9e87-977815f0939d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c3e115a74d1cff5f36968664f66e94e9", element="ebf6665a-5d2b-4dfc-93a1-9eb470516c36")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c3e115a74d1cff5f36968664f66e94e9", element="b92ad25a-b5a5-4daf-8798-6848e5ad1e66")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c3e115a74d1cff5f36968664f66e94e9", element="55674d5e-5a4d-43e9-97c4-3e98675b53a6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c3e115a74d1cff5f36968664f66e94e9", element="7273b3a5-634a-45d1-936c-ff51e7b386d8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c3e115a74d1cff5f36968664f66e94e9", element="0aa20018-1f77-41c6-a47d-8cff9038b14d")>]

In [280]:
for i in d:
    title=i.text
    Discount_2.append(title)
Discount_2[0:40]

['80% off',
 '79% off',
 '77% off',
 '70% off',
 '20% off',
 '58% off',
 '73% off',
 '81% off',
 '85% off',
 '72% off',
 '84% off',
 '78% off',
 '87% off',
 '73% off',
 '26% off',
 '70% off',
 '15% off',
 '84% off',
 '77% off',
 '27% off',
 '85% off',
 '66% off',
 '87% off',
 '28% off',
 '80% off',
 '69% off',
 '22% off',
 '86% off',
 '81% off',
 '62% off',
 '73% off',
 '78% off',
 '83% off',
 '15% off',
 '75% off',
 '88% off',
 '73% off',
 '80% off',
 '65% off',
 '80% off']

In [281]:
import pandas as pd
table_1=pd.DataFrame({})

table_1['Brand']=Brand_2[:40]
table_1['Product Description']=Product_d2[:40]
table_1['Price']=Price_2[:40]
table_1['Discount']=Discount_2[0:40]

table_1

,Brand,Product Description,Price,Discount
0,PHENOMENAL,"UV Protection, Mirrored Retro Square Sunglasse...",₹399,80% off
1,ROZZETTA CRAFT,"UV Protection, Riding Glasses Rectangular Sung...",₹449,79% off
2,ROZZETTA CRAFT,"UV Protection, Gradient Retro Square Sunglasse...",₹449,77% off
3,Singco India,UV Protection Aviator Sunglasses (Free Size),₹349,70% off
4,Fastrack,"Gradient, UV Protection Wayfarer Sunglasses (F...",₹638,20% off
5,DEIXELS,"Polarized, UV Protection, Riding Glasses Wayfa...",₹249,58% off
6,NuVew,"UV Protection, Riding Glasses Aviator Sunglass...",₹437,73% off
7,Flizz,UV Protection Retro Square Sunglasses (Free Size),₹399,81% off
8,GANSTA,"UV Protection, Night Vision, Riding Glasses Av...",₹292,85% off
9,DEIXELS,UV Protection Round Sunglasses (Free Size),₹219,72% off
10,PHENOMENAL,UV Protection Clubmaster Sunglasses (Free Size),₹319,84% off
11,hipe,Mirrored Wayfarer Sunglasses (55),₹219,78% off
12,PIRASO,UV Protection Butterfly Sunglasses (65),₹323,87% off
13,Badfella,"Polarized, UV Protection Retro Square Sunglass...",₹269,73% off
14,Fastrack,"Gradient, UV Protection Wayfarer Sunglasses (F...",₹589,26% off
15,NuVew,"UV Protection, Mirrored Sports Sunglasses (73)",₹367,70% off
16,Fastrack,UV Protection Wayfarer Sunglasses (56),₹759,15% off
17,PHENOMENAL,"UV Protection, Mirrored Clubmaster Sunglasses ...",₹319,84% off
18,ROZZETTA CRAFT,"Gradient, UV Protection Round Sunglasses (Free...",₹449,77% off
19,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹576,27% off
20,PIRASO,UV Protection Aviator Sunglasses (54),₹237,85% off
21,ROYAL SON,UV Protection Retro Square Sunglasses (58),₹499,66% off
22,ROZZETTA CRAFT,"UV Protection, Gradient Round Sunglasses (Free...",₹449,87% off
23,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹647,28% off
24,PHENOMENAL,"UV Protection, Mirrored Retro Square Sunglasse...",₹399,80% off
25,AISLIN,UV Protection Oval Sunglasses (60),₹764,69% off
26,Fastrack,"Mirrored, UV Protection Wayfarer Sunglasses (F...",₹777,22% off
27,GANSTA,"UV Protection, Riding Glasses Wayfarer Sunglas...",₹260,86% off
28,Flizz,"UV Protection, Polarized Rectangular Sunglasse...",₹279,81% off
29,AISLIN,"UV Protection, Gradient Butterfly, Retro Squar...",₹574,62% off
30,ROZZETTA CRAFT,UV Protection Rectangular Sunglasses (Free Size),₹398,73% off
31,kingsunglasses,UV Protection Round Sunglasses (Free Size),₹339,78% off
32,ROZZETTA CRAFT,"UV Protection, Gradient Round Sunglasses (Free...",₹449,83% off
33,Fastrack,UV Protection Shield Sunglasses (Free Size),₹759,15% off
34,Silver Kartz,UV Protection Oval Sunglasses (56),₹299,75% off
35,PIRASO,UV Protection Aviator Sunglasses (58),₹298,88% off
36,ROYAL SON,Mirrored Aviator Sunglasses (Free Size),₹399,73% off
37,elegante,UV Protection Round Sunglasses (Free Size),₹199,80% off
38,ROYAL SON,Polarized Rectangular Sunglasses (65),₹699,65% off
39,Fravy,UV Protection Retro Square Sunglasses (Free Size),₹289,80% off

In [282]:
third = driver.find_elements_by_xpath("//a[@href='/search?q=sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=3']")[0]
third.click()

In [283]:
url="https://www.flipkart.com/search?q=sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=3"

In [284]:
driver.get(url)

In [285]:
Brand_3=[]
Product_d3=[]
Price_3=[]
Discount_3=[]

In [286]:
b = driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
b[0:20]
for i in b:
    title=i.text
    Brand_3.append(title)
Brand_3[0:20]

['Fastrack',
 'Wrogn',
 'NuVew',
 'NuVew',
 'Poloport',
 'AISLIN',
 'ROYAL SON',
 'Fastrack',
 'GANSTA',
 'ROZZETTA CRAFT',
 'agera',
 'ROYAL SON',
 'NuVew',
 'NuVew',
 'GANSTA',
 'NuVew',
 'PETER JONES',
 'kingsunglasses',
 'PIRASO',
 'Wrogn']

In [287]:
p = driver.find_elements_by_xpath("//a[@class='IRpwTa']")
p[0:20]
for i in p:
    title=i.text
    Product_d3.append(title)
Product_d3[0:20]

['Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'Polarized Aviator Sunglasses (60)',
 'UV Protection, Riding Glasses Aviator Sunglasses (58)',
 'UV Protection Aviator Sunglasses (57)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'Toughened Glass Lens, UV Protection Aviator Sunglasses ...',
 'Polarized Rectangular Sunglasses (65)',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (57)',
 'Polarized, UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (54)',
 'Polarized, UV Protection Aviator Sunglasses (58)',
 'UV Protection Wayfarer, Rectangular Sunglasses (57)',
 'UV Protection, Mirrored, Gradient, Riding Glasses, Nigh...',
 'UV Protection, Gradient Wayfarer Sunglasses (53)',
 'UV Protection, Mirrored, Night Vision, Riding Glasses S...',
 'Night Vision, Riding Glasses, UV Protection Wrap-around...',
 'UV Protection Round Sunglasses (54)',
 'UV Protection Aviator Sunglasses (50)',
 'Mirrored Aviator Sunglasses (60)']

In [288]:
pr = driver.find_elements_by_xpath("//div[@class='_30jeq3']")
pr[0:20]
for i in pr:
    title=i.text
    Price_3.append(title)
Price_3[0:20]

['₹687',
 '₹1,015',
 '₹206',
 '₹156',
 '₹249',
 '₹906',
 '₹699',
 '₹777',
 '₹233',
 '₹449',
 '₹207',
 '₹749',
 '₹395',
 '₹310',
 '₹296',
 '₹419',
 '₹549',
 '₹219',
 '₹331',
 '₹1,272']

In [289]:
d = driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']")
d[0:20]
for i in d:
    title=i.text
    Discount_3.append(title)
Discount_3[0:20]

['14% off',
 '68% off',
 '80% off',
 '79% off',
 '87% off',
 '75% off',
 '65% off',
 '22% off',
 '82% off',
 '77% off',
 '84% off',
 '62% off',
 '62% off',
 '79% off',
 '85% off',
 '66% off',
 '63% off',
 '80% off',
 '79% off',
 '60% off']

In [290]:
import pandas as pd
table_2=pd.DataFrame({})

table_2['Brand']=Brand_3[:20]
table_2['Product Description']=Product_d3[:20]
table_2['Price']=Price_3[:20]
table_2['Discount']=Discount_3[0:20]

table_2

,Brand,Product Description,Price,Discount
0,Fastrack,"Gradient, UV Protection Wayfarer Sunglasses (F...",₹687,14% off
1,Wrogn,Polarized Aviator Sunglasses (60),"₹1,015",68% off
2,NuVew,"UV Protection, Riding Glasses Aviator Sunglass...",₹206,80% off
3,NuVew,UV Protection Aviator Sunglasses (57),₹156,79% off
4,Poloport,UV Protection Wayfarer Sunglasses (Free Size),₹249,87% off
5,AISLIN,"Toughened Glass Lens, UV Protection Aviator Su...",₹906,75% off
6,ROYAL SON,Polarized Rectangular Sunglasses (65),₹699,65% off
7,Fastrack,"Gradient, UV Protection Wayfarer Sunglasses (F...",₹777,22% off
8,GANSTA,UV Protection Aviator Sunglasses (57),₹233,82% off
9,ROZZETTA CRAFT,"Polarized, UV Protection Aviator Sunglasses (F...",₹449,77% off
10,agera,UV Protection Round Sunglasses (54),₹207,84% off
11,ROYAL SON,"Polarized, UV Protection Aviator Sunglasses (58)",₹749,62% off
12,NuVew,"UV Protection Wayfarer, Rectangular Sunglasses...",₹395,62% off
13,NuVew,"UV Protection, Mirrored, Gradient, Riding Glas...",₹310,79% off
14,GANSTA,"UV Protection, Gradient Wayfarer Sunglasses (53)",₹296,85% off
15,NuVew,"UV Protection, Mirrored, Night Vision, Riding ...",₹419,66% off
16,PETER JONES,"Night Vision, Riding Glasses, UV Protection Wr...",₹549,63% off
17,kingsunglasses,UV Protection Round Sunglasses (54),₹219,80% off
18,PIRASO,UV Protection Aviator Sunglasses (50),₹331,79% off
19,Wrogn,Mirrored Aviator Sunglasses (60),"₹1,272",60% off

In [292]:
Sunglasses_info=table.append((table_1,table_2),ignore_index=True)

In [293]:
Sunglasses_info

,Brand,Product Description,Price,Discount
0,PIRASO,UV Protection Aviator Sunglasses (54),₹237,85% off
1,Fastrack,UV Protection Rectangular Sunglasses (Free Size),₹541,32% off
2,Fastrack,"Gradient, UV Protection Wayfarer Sunglasses (F...",₹537,32% off
3,ROZZETTA CRAFT,"UV Protection, Gradient Rectangular Sunglasses...",₹404,79% off
4,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹733,18% off
...,...,...,...,...
95,NuVew,"UV Protection, Mirrored, Night Vision, Riding ...",₹419,66% off
96,PETER JONES,"Night Vision, Riding Glasses, UV Protection Wr...",₹549,63% off
97,kingsunglasses,UV Protection Round Sunglasses (54),₹219,80% off
98,PIRASO,UV Protection Aviator Sunglasses (50),₹331,79% off
99,Wrogn,Mirrored Aviator Sunglasses (60),"₹1,272",60% off

# Q7: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link: 
https://www.flipkart.com/apple-iphone-11-black-64-gb-includesearpods-poweradapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace.

As shown in the above page you have to scrape the tick marked attributes.
These are
1. Rating
2. Review_summary
3. Full review
You have to scrape this data for first 100 reviews

In [294]:
driver=webdriver.Chrome(r'C:/chromedriver.exe')

In [295]:
driver.get('https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace')

In [298]:
Rating=[] 
Review_summary=[]
Full_review=[]

In [300]:
all_btn = driver.find_element_by_xpath("//div[@class='_3UAT2v _16PBlm']/span")
all_btn.click()

In [301]:
for page in range(0,10):
    r = driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")

    for i in r:
        title=i.text
        Rating.append(title)
    driver.find_element_by_xpath("//nav[@class='yFHi8N']/a").click()
Rating[0:100]

['5',
 '5',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5',
 '5',
 '5']

In [302]:
for page in range(0,10):
    s = driver.find_elements_by_xpath("//p[@class='_2-N8zT']")

    for i in s:
        title=i.text
        Review_summary.append(title)
    driver.find_element_by_xpath("//nav[@class='yFHi8N']/a").click()
Review_summary[0:100]

['Brilliant',
 'Perfect product!',
 'Great product',
 'Worth every penny',
 'Fabulous!',
 'Good choice',
 'Highly recommended',
 'Perfect product!',
 'Perfect product!',
 'Highly recommended',
 'Brilliant',
 'Perfect product!',
 'Great product',
 'Worth every penny',
 'Fabulous!',
 'Good choice',
 'Highly recommended',
 'Perfect product!',
 'Perfect product!',
 'Highly recommended',
 'Brilliant',
 'Perfect product!',
 'Great product',
 'Worth every penny',
 'Fabulous!',
 'Good choice',
 'Highly recommended',
 'Perfect product!',
 'Perfect product!',
 'Highly recommended',
 'Brilliant',
 'Perfect product!',
 'Great product',
 'Worth every penny',
 'Fabulous!',
 'Good choice',
 'Highly recommended',
 'Perfect product!',
 'Perfect product!',
 'Highly recommended',
 'Brilliant',
 'Perfect product!',
 'Great product',
 'Worth every penny',
 'Fabulous!',
 'Good choice',
 'Highly recommended',
 'Perfect product!',
 'Perfect product!',
 'Highly recommended',
 'Brilliant',
 'Perfect product!',
 'Great product',
 'Worth every penny',
 'Fabulous!',
 'Good choice',
 'Highly recommended',
 'Perfect product!',
 'Perfect product!',
 'Highly recommended',
 'Brilliant',
 'Perfect product!',
 'Great product',
 'Worth every penny',
 'Fabulous!',
 'Good choice',
 'Highly recommended',
 'Perfect product!',
 'Perfect product!',
 'Highly recommended',
 'Brilliant',
 'Perfect product!',
 'Great product',
 'Worth every penny',
 'Fabulous!',
 'Good choice',
 'Highly recommended',
 'Perfect product!',
 'Perfect product!',
 'Highly recommended',
 'Brilliant',
 'Perfect product!',
 'Great product',
 'Worth every penny',
 'Fabulous!',
 'Good choice',
 'Highly recommended',
 'Perfect product!',
 'Perfect product!',
 'Highly recommended',
 'Brilliant',
 'Perfect product!',
 'Great product',
 'Worth every penny',
 'Fabulous!',
 'Good choice',
 'Highly recommended',
 'Perfect product!',
 'Perfect product!',
 'Highly recommended']

In [303]:
for page in range(0,10):
    f = driver.find_elements_by_xpath("//div[@class='t-ZTKy']")

    for i in f:
        title=i.text
        Full_review.append(title)
    driver.find_element_by_xpath("//nav[@class='yFHi8N']/a").click()
Full_review[0:100]

['The Best Phone for the Money\n\nThe iPhone 11 offers superb cameras, a more durable design and excellent battery life for an affordable price.\n\nCompelling ultra-wide camera\nNew Night mode is excellent\nLong battery life',
 'Amazing phone with great cameras and better battery which gives you the best performance. I just love the camera .',
 'Amazing Powerful and Durable Gadget.\n\nI’m am very happy with the camera picture quality, Amazing face id unlocked in dark room, Strong battery with perfect screen size as you can carry easily in pocket. This is my third iPhone.\n\nI shifted from android Samsung Note series to iPhone because of the strong build quality and peace of mind for next 3-4 years.\n\nDon’t think to much just go for it and I suggest you to go for minimum 128gb variant or more 256gb.\n\nI’ve attached my puppy pics and no fi...\nREAD MORE',
 'Previously I was using one plus 3t it was a great phone\nAnd then I decided to upgrade I am stuck between Samsung s10 plus or iPhone 11\nI have seen the specs and everything were good except the display it’s somewhere between 720-1080 and it’s not even an amoled it’s an LCD display\nBut I decided to go with iPhone because I have never used an IOS device I have Been an android user from the past 9 years I ordered IPhone 11 (128gb) product red\nMy experience after using 3 weeks\n1. The delivery ...\nREAD MORE',
 'This is my first iOS phone. I am very happy with this product. Very much satisfied with this. I love this phone.',
 'So far it’s been an AMAZING experience coming back to iOS after nearly a decade but it’s not as versatile as android though phone is sturdy dropped it accidentally a couple of times and nothing happened fortunately camera is awesome',
 'iphone 11 is a very good phone to buy only if you can compromise for the display. The display on this is device is pretty good but you can get other options with better displays in this price segment.\nIf you can survive with an HD+ LCD panel with thicker bezels and a notch up top then this is a very good phone for you.\nCameras are awesome, battery backup excellent, great performance and a decent premium look. Good job Apple !',
 'It’s a must buy who is looking for an upgrade from previous generation of iPhones. If you are using XR then still you can hold on for sometime and upgrade to 2020 model else this phone is a must buy . Camera quality is amazing and wide angle is something to count upon. Performance wise it’s amazing and feels premium while holding in hand. So a big YES for this device. Go for 128 GB variant as the 4K videos will occupy lots of space and the storage can get over very quickly. Try to buy it with...\nREAD MORE',
 'Value for money❤️❤️\nIts awesome mobile phone in the world ...\nDisplay was very good and bright ..\nTrust me freinds you r never regret after Buying..\nJust go for it....\nI love this phone and i switch to iphone x to 11',
 'What a camera .....just awesome ..you can feel this iPhone just awesome . Good for gaming also ...try pubg in hd it’s just wow',
 'The Best Phone for the Money\n\nThe iPhone 11 offers superb cameras, a more durable design and excellent battery life for an affordable price.\n\nCompelling ultra-wide camera\nNew Night mode is excellent\nLong battery life',
 'Amazing phone with great cameras and better battery which gives you the best performance. I just love the camera .',
 'Amazing Powerful and Durable Gadget.\n\nI’m am very happy with the camera picture quality, Amazing face id unlocked in dark room, Strong battery with perfect screen size as you can carry easily in pocket. This is my third iPhone.\n\nI shifted from android Samsung Note series to iPhone because of the strong build quality and peace of mind for next 3-4 years.\n\nDon’t think to much just go for it and I suggest you to go for minimum 128gb variant or more 256gb.\n\nI’ve attached my puppy pics and no fi...\nREAD MORE',
 'Previously I was using one plus 3t it was a great phone\nAnd then I decided to upgrade I am stuck between Samsung s10 plus or iPhone 11\nI have seen the specs and everything were good except the display it’s somewhere between 720-1080 and it’s not even an amoled it’s an LCD display\nBut I decided to go with iPhone because I have never used an IOS device I have Been an android user from the past 9 years I ordered IPhone 11 (128gb) product red\nMy experience after using 3 weeks\n1. The delivery ...\nREAD MORE',
 'This is my first iOS phone. I am very happy with this product. Very much satisfied with this. I love this phone.',
 'So far it’s been an AMAZING experience coming back to iOS after nearly a decade but it’s not as versatile as android though phone is sturdy dropped it accidentally a couple of times and nothing happened fortunately camera is awesome',
 'iphone 11 is a very good phone to buy only if you can compromise for the display. The display on this is device is pretty good but you can get other options with better displays in this price segment.\nIf you can survive with an HD+ LCD panel with thicker bezels and a notch up top then this is a very good phone for you.\nCameras are awesome, battery backup excellent, great performance and a decent premium look. Good job Apple !',
 'It’s a must buy who is looking for an upgrade from previous generation of iPhones. If you are using XR then still you can hold on for sometime and upgrade to 2020 model else this phone is a must buy . Camera quality is amazing and wide angle is something to count upon. Performance wise it’s amazing and feels premium while holding in hand. So a big YES for this device. Go for 128 GB variant as the 4K videos will occupy lots of space and the storage can get over very quickly. Try to buy it with...\nREAD MORE',
 'Value for money❤️❤️\nIts awesome mobile phone in the world ...\nDisplay was very good and bright ..\nTrust me freinds you r never regret after Buying..\nJust go for it....\nI love this phone and i switch to iphone x to 11',
 'What a camera .....just awesome ..you can feel this iPhone just awesome . Good for gaming also ...try pubg in hd it’s just wow',
 'The Best Phone for the Money\n\nThe iPhone 11 offers superb cameras, a more durable design and excellent battery life for an affordable price.\n\nCompelling ultra-wide camera\nNew Night mode is excellent\nLong battery life',
 'Amazing phone with great cameras and better battery which gives you the best performance. I just love the camera .',
 'Amazing Powerful and Durable Gadget.\n\nI’m am very happy with the camera picture quality, Amazing face id unlocked in dark room, Strong battery with perfect screen size as you can carry easily in pocket. This is my third iPhone.\n\nI shifted from android Samsung Note series to iPhone because of the strong build quality and peace of mind for next 3-4 years.\n\nDon’t think to much just go for it and I suggest you to go for minimum 128gb variant or more 256gb.\n\nI’ve attached my puppy pics and no fi...\nREAD MORE',
 'Previously I was using one plus 3t it was a great phone\nAnd then I decided to upgrade I am stuck between Samsung s10 plus or iPhone 11\nI have seen the specs and everything were good except the display it’s somewhere between 720-1080 and it’s not even an amoled it’s an LCD display\nBut I decided to go with iPhone because I have never used an IOS device I have Been an android user from the past 9 years I ordered IPhone 11 (128gb) product red\nMy experience after using 3 weeks\n1. The delivery ...\nREAD MORE',
 'This is my first iOS phone. I am very happy with this product. Very much satisfied with this. I love this phone.',
 'So far it’s been an AMAZING experience coming back to iOS after nearly a decade but it’s not as versatile as android though phone is sturdy dropped it accidentally a couple of times and nothing happened fortunately camera is awesome',
 'iphone 11 is a very good phone to buy only if you can compromise for the display. The display on this is device is pretty good but you can get other options with better displays in this price segment.\nIf you can survive with an HD+ LCD panel with thicker bezels and a notch up top then this is a very good phone for you.\nCameras are awesome, battery backup excellent, great performance and a decent premium look. Good job Apple !',
 'It’s a must buy who is looking for an upgrade from previous generation of iPhones. If you are using XR then still you can hold on for sometime and upgrade to 2020 model else this phone is a must buy . Camera quality is amazing and wide angle is something to count upon. Performance wise it’s amazing and feels premium while holding in hand. So a big YES for this device. Go for 128 GB variant as the 4K videos will occupy lots of space and the storage can get over very quickly. Try to buy it with...\nREAD MORE',
 'Value for money❤️❤️\nIts awesome mobile phone in the world ...\nDisplay was very good and bright ..\nTrust me freinds you r never regret after Buying..\nJust go for it....\nI love this phone and i switch to iphone x to 11',
 'What a camera .....just awesome ..you can feel this iPhone just awesome . Good for gaming also ...try pubg in hd it’s just wow',
 'The Best Phone for the Money\n\nThe iPhone 11 offers superb cameras, a more durable design and excellent battery life for an affordable price.\n\nCompelling ultra-wide camera\nNew Night mode is excellent\nLong battery life',
 'Amazing phone with great cameras and better battery which gives you the best performance. I just love the camera .',
 'Amazing Powerful and Durable Gadget.\n\nI’m am very happy with the camera picture quality, Amazing face id unlocked in dark room, Strong battery with perfect screen size as you can carry easily in pocket. This is my third iPhone.\n\nI shifted from android Samsung Note series to iPhone because of the strong build quality and peace of mind for next 3-4 years.\n\nDon’t think to much just go for it and I suggest you to go for minimum 128gb variant or more 256gb.\n\nI’ve attached my puppy pics and no fi...\nREAD MORE',
 'Previously I was using one plus 3t it was a great phone\nAnd then I decided to upgrade I am stuck between Samsung s10 plus or iPhone 11\nI have seen the specs and everything were good except the display it’s somewhere between 720-1080 and it’s not even an amoled it’s an LCD display\nBut I decided to go with iPhone because I have never used an IOS device I have Been an android user from the past 9 years I ordered IPhone 11 (128gb) product red\nMy experience after using 3 weeks\n1. The delivery ...\nREAD MORE',
 'This is my first iOS phone. I am very happy with this product. Very much satisfied with this. I love this phone.',
 'So far it’s been an AMAZING experience coming back to iOS after nearly a decade but it’s not as versatile as android though phone is sturdy dropped it accidentally a couple of times and nothing happened fortunately camera is awesome',
 'iphone 11 is a very good phone to buy only if you can compromise for the display. The display on this is device is pretty good but you can get other options with better displays in this price segment.\nIf you can survive with an HD+ LCD panel with thicker bezels and a notch up top then this is a very good phone for you.\nCameras are awesome, battery backup excellent, great performance and a decent premium look. Good job Apple !',
 'It’s a must buy who is looking for an upgrade from previous generation of iPhones. If you are using XR then still you can hold on for sometime and upgrade to 2020 model else this phone is a must buy . Camera quality is amazing and wide angle is something to count upon. Performance wise it’s amazing and feels premium while holding in hand. So a big YES for this device. Go for 128 GB variant as the 4K videos will occupy lots of space and the storage can get over very quickly. Try to buy it with...\nREAD MORE',
 'Value for money❤️❤️\nIts awesome mobile phone in the world ...\nDisplay was very good and bright ..\nTrust me freinds you r never regret after Buying..\nJust go for it....\nI love this phone and i switch to iphone x to 11',
 'What a camera .....just awesome ..you can feel this iPhone just awesome . Good for gaming also ...try pubg in hd it’s just wow',
 'The Best Phone for the Money\n\nThe iPhone 11 offers superb cameras, a more durable design and excellent battery life for an affordable price.\n\nCompelling ultra-wide camera\nNew Night mode is excellent\nLong battery life',
 'Amazing phone with great cameras and better battery which gives you the best performance. I just love the camera .',
 'Amazing Powerful and Durable Gadget.\n\nI’m am very happy with the camera picture quality, Amazing face id unlocked in dark room, Strong battery with perfect screen size as you can carry easily in pocket. This is my third iPhone.\n\nI shifted from android Samsung Note series to iPhone because of the strong build quality and peace of mind for next 3-4 years.\n\nDon’t think to much just go for it and I suggest you to go for minimum 128gb variant or more 256gb.\n\nI’ve attached my puppy pics and no fi...\nREAD MORE',
 'Previously I was using one plus 3t it was a great phone\nAnd then I decided to upgrade I am stuck between Samsung s10 plus or iPhone 11\nI have seen the specs and everything were good except the display it’s somewhere between 720-1080 and it’s not even an amoled it’s an LCD display\nBut I decided to go with iPhone because I have never used an IOS device I have Been an android user from the past 9 years I ordered IPhone 11 (128gb) product red\nMy experience after using 3 weeks\n1. The delivery ...\nREAD MORE',
 'This is my first iOS phone. I am very happy with this product. Very much satisfied with this. I love this phone.',
 'So far it’s been an AMAZING experience coming back to iOS after nearly a decade but it’s not as versatile as android though phone is sturdy dropped it accidentally a couple of times and nothing happened fortunately camera is awesome',
 'iphone 11 is a very good phone to buy only if you can compromise for the display. The display on this is device is pretty good but you can get other options with better displays in this price segment.\nIf you can survive with an HD+ LCD panel with thicker bezels and a notch up top then this is a very good phone for you.\nCameras are awesome, battery backup excellent, great performance and a decent premium look. Good job Apple !',
 'It’s a must buy who is looking for an upgrade from previous generation of iPhones. If you are using XR then still you can hold on for sometime and upgrade to 2020 model else this phone is a must buy . Camera quality is amazing and wide angle is something to count upon. Performance wise it’s amazing and feels premium while holding in hand. So a big YES for this device. Go for 128 GB variant as the 4K videos will occupy lots of space and the storage can get over very quickly. Try to buy it with...\nREAD MORE',
 'Value for money❤️❤️\nIts awesome mobile phone in the world ...\nDisplay was very good and bright ..\nTrust me freinds you r never regret after Buying..\nJust go for it....\nI love this phone and i switch to iphone x to 11',
 'What a camera .....just awesome ..you can feel this iPhone just awesome . Good for gaming also ...try pubg in hd it’s just wow',
 'The Best Phone for the Money\n\nThe iPhone 11 offers superb cameras, a more durable design and excellent battery life for an affordable price.\n\nCompelling ultra-wide camera\nNew Night mode is excellent\nLong battery life',
 'Amazing phone with great cameras and better battery which gives you the best performance. I just love the camera .',
 'Amazing Powerful and Durable Gadget.\n\nI’m am very happy with the camera picture quality, Amazing face id unlocked in dark room, Strong battery with perfect screen size as you can carry easily in pocket. This is my third iPhone.\n\nI shifted from android Samsung Note series to iPhone because of the strong build quality and peace of mind for next 3-4 years.\n\nDon’t think to much just go for it and I suggest you to go for minimum 128gb variant or more 256gb.\n\nI’ve attached my puppy pics and no fi...\nREAD MORE',
 'Previously I was using one plus 3t it was a great phone\nAnd then I decided to upgrade I am stuck between Samsung s10 plus or iPhone 11\nI have seen the specs and everything were good except the display it’s somewhere between 720-1080 and it’s not even an amoled it’s an LCD display\nBut I decided to go with iPhone because I have never used an IOS device I have Been an android user from the past 9 years I ordered IPhone 11 (128gb) product red\nMy experience after using 3 weeks\n1. The delivery ...\nREAD MORE',
 'This is my first iOS phone. I am very happy with this product. Very much satisfied with this. I love this phone.',
 'So far it’s been an AMAZING experience coming back to iOS after nearly a decade but it’s not as versatile as android though phone is sturdy dropped it accidentally a couple of times and nothing happened fortunately camera is awesome',
 'iphone 11 is a very good phone to buy only if you can compromise for the display. The display on this is device is pretty good but you can get other options with better displays in this price segment.\nIf you can survive with an HD+ LCD panel with thicker bezels and a notch up top then this is a very good phone for you.\nCameras are awesome, battery backup excellent, great performance and a decent premium look. Good job Apple !',
 'It’s a must buy who is looking for an upgrade from previous generation of iPhones. If you are using XR then still you can hold on for sometime and upgrade to 2020 model else this phone is a must buy . Camera quality is amazing and wide angle is something to count upon. Performance wise it’s amazing and feels premium while holding in hand. So a big YES for this device. Go for 128 GB variant as the 4K videos will occupy lots of space and the storage can get over very quickly. Try to buy it with...\nREAD MORE',
 'Value for money❤️❤️\nIts awesome mobile phone in the world ...\nDisplay was very good and bright ..\nTrust me freinds you r never regret after Buying..\nJust go for it....\nI love this phone and i switch to iphone x to 11',
 'What a camera .....just awesome ..you can feel this iPhone just awesome . Good for gaming also ...try pubg in hd it’s just wow',
 'The Best Phone for the Money\n\nThe iPhone 11 offers superb cameras, a more durable design and excellent battery life for an affordable price.\n\nCompelling ultra-wide camera\nNew Night mode is excellent\nLong battery life',
 'Amazing phone with great cameras and better battery which gives you the best performance. I just love the camera .',
 'Amazing Powerful and Durable Gadget.\n\nI’m am very happy with the camera picture quality, Amazing face id unlocked in dark room, Strong battery with perfect screen size as you can carry easily in pocket. This is my third iPhone.\n\nI shifted from android Samsung Note series to iPhone because of the strong build quality and peace of mind for next 3-4 years.\n\nDon’t think to much just go for it and I suggest you to go for minimum 128gb variant or more 256gb.\n\nI’ve attached my puppy pics and no fi...\nREAD MORE',
 'Previously I was using one plus 3t it was a great phone\nAnd then I decided to upgrade I am stuck between Samsung s10 plus or iPhone 11\nI have seen the specs and everything were good except the display it’s somewhere between 720-1080 and it’s not even an amoled it’s an LCD display\nBut I decided to go with iPhone because I have never used an IOS device I have Been an android user from the past 9 years I ordered IPhone 11 (128gb) product red\nMy experience after using 3 weeks\n1. The delivery ...\nREAD MORE',
 'This is my first iOS phone. I am very happy with this product. Very much satisfied with this. I love this phone.',

In [304]:
import pandas as pd
Reviews=pd.DataFrame({})

Reviews['Rating']=Rating[:100]
Reviews['Review Summary']=Review_summary[:100]
Reviews['Full Review']=Full_review[:100]

Reviews

,Rating,Review Summary,Full Review
0,5,Brilliant,The Best Phone for the Money\n\nThe iPhone 11 ...
1,5,Perfect product!,Amazing phone with great cameras and better ba...
2,5,Great product,Amazing Powerful and Durable Gadget.\n\nI’m am...
3,5,Worth every penny,Previously I was using one plus 3t it was a gr...
4,5,Fabulous!,This is my first iOS phone. I am very happy wi...
...,...,...,...
95,4,Good choice,So far it’s been an AMAZING experience coming ...
96,5,Highly recommended,iphone 11 is a very good phone to buy only if ...
97,5,Perfect product!,It’s a must buy who is looking for an upgrade ...
98,5,Perfect product!,Value for money❤️❤️\nIts awesome mobile phone ...
99,5,Highly recommended,What a camera .....just awesome ..you can feel...

# Q8: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the search field.
You have to scrape 4 attributes of each sneaker :
1. Brand
2. Product Description
3. Price
4. discount %

In [305]:
driver=webdriver.Chrome(r'C:/chromedriver.exe')

In [321]:
driver.get('https://www.flipkart.com/')

In [322]:
s = driver.find_elements_by_xpath("//input[@class='_3704LK']")
s[0].send_keys('sneakers')

In [323]:
search_btn = driver.find_elements_by_xpath("//div[@class='col-12-12 _2oO9oE']/button")
search_btn[0].click()

In [324]:
url="https://www.flipkart.com/search?q=sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off"

In [325]:
driver.get(url)

In [326]:
Brand=[]
Product_d=[]
Price=[]
Discount=[]

In [333]:
for page in range(0,3):
    b = driver.find_elements_by_xpath("//div[@class='_2WkVRV']")

    for i in b:
        try:
            title=i.text
            Brand.append(title)
        except NoSuchElementException:
            Job_Description.append('_')    
    driver.find_element_by_xpath("//nav[@class='yFHi8N']/a").click()
Brand[0:100]

['CALCADOS',
 'India hub',
 'PEHANOSA',
 'Shoes Bank',
 'Robbie jones',
 'ORICUM',
 'KULP',
 'bluemaker',
 'Chevit',
 '3SIX5',
 'TR',
 'Birde',
 'Numenzo',
 'Stefano Rads',
 'HOTSTYLE',
 'Absolute comfort',
 'SCATCHITE',
 'Birde',
 'Chevit',
 'Alfiya',
 'kardam&sons',
 'Chevit',
 'restinfoot',
 'Chevit',
 'HOTSTYLE',
 'bluemaker',
 'PUMA',
 'Zsyto',
 'Kraasa',
 'Robbie jones',
 'ORICUM',
 'World Wear Footwear',
 'Chevit',
 'SPARX',
 'ESSENCE',
 'Jokatoo',
 'ASTEROID',
 'Aura',
 'Arohi',
 'D-SNEAKERZ',
 'CALCADOS',
 'India hub',
 'PEHANOSA',
 'Shoes Bank',
 'Robbie jones',
 'ORICUM',
 'KULP',
 'bluemaker',
 'Chevit',
 '3SIX5',
 'TR',
 'Birde',
 'Numenzo',
 'Stefano Rads',
 'HOTSTYLE',
 'Absolute comfort',
 'SCATCHITE',
 'Birde',
 'Chevit',
 'Alfiya',
 'kardam&sons',
 'Chevit',
 'restinfoot',
 'Chevit',
 'HOTSTYLE',
 'bluemaker',
 'PUMA',
 'Zsyto',
 'Kraasa',
 'Robbie jones',
 'ORICUM',
 'World Wear Footwear',
 'Chevit',
 'SPARX',
 'ESSENCE',
 'Jokatoo',
 'ASTEROID',
 'Aura',
 'Arohi',
 'D-SNEAKERZ',
 'CALCADOS',
 'India hub',
 'PEHANOSA',
 'Shoes Bank',
 'Robbie jones',
 'ORICUM',
 'KULP',
 'bluemaker',
 'Chevit',
 '3SIX5',
 'TR',
 'Birde',
 'Numenzo',
 'Stefano Rads',
 'HOTSTYLE',
 'Absolute comfort',
 'SCATCHITE',
 'Birde',
 'Chevit',
 'Alfiya']

In [334]:
for page in range(0,3):
    p = driver.find_elements_by_xpath("//a[@class='IRpwTa']")

    for i in p:
        try:
            title=i.text
            Product_d.append(title)
        except NoSuchElementException:
            Job_Description.append('_')    
    driver.find_element_by_xpath("//nav[@class='yFHi8N']/a").click()
Product_d[0:100]

['Sneakers For Men',
 "White Sneaker For Men's/Boy's Sneakers For Men",
 'Sneakers For Men',
 'Combo pack of 2 casual sneaker shoes for men Sneakers F...',
 '310 Sneakers For Men',
 'casual for men (blue 06) Sneakers For Men',
 'Super 445 Fashion Sneakers For Men',
 'ORIFWSH(OR)-1077 Sneakers For Men',
 'Sneakers For Men',
 'Combo Pack of 4 Casual Shoes Sneakers For Men',
 'Sneakers For Men',
 'Sneakers Sneakers For Men',
 'Sneakers Sneakers For Men',
 "Men's Stylish Casual Shoes Sneakers For Men",
 'Perfect & Affordable Combo Pack of 02 Pairs Sneakers Ou...',
 'Shoes in Black Color Party wear/Outdoor/Casual Shoes Fo...',
 "Super & Trendy Men's Pack of 02 Pair Shoes for Boys Cas...",
 "Casual shoes,Sneakers for men's,shoes for men's Sneaker...",
 "Men's Combo Pack of 02 Shoes for Men Casual Sneakers Ou...",
 'Sneakers Sneakers For Men',
 'casual for men (beige 07) Sneakers For Men',
 'Lazy Knit Slip On IDP Sneakers For Men',
 'Series 7 Sneakers For Men',
 'Casual Sneakers White Shoes For Men Sneakers For Men',
 'Combo pack of 2 Casuals Shoes For Men (1563-1564) Sneak...',
 'Combo Pack of 4 Latest Collection Stylish Casual Loafer...',
 'Speed Set of 5 Pairs Sneakers Outdoors Casuals for Men ...',
 'SD-323 Sneakers For Men',
 'Sneakers For Men',
 "Luxury Branded Fashionable Men's Casual Walking Partywe...",
 'Combo Pack of 2 Casual Shoes Sneakers For Men',
 "Casual , Partywear Sneakers Shoes For Men's And Boys Wh...",
 'Sneakers For Men',
 "White Sneaker For Men's/Boy's Sneakers For Men",
 'Sneakers For Men',
 'Combo pack of 2 casual sneaker shoes for men Sneakers F...',
 '310 Sneakers For Men',
 'casual for men (blue 06) Sneakers For Men',
 'Super 445 Fashion Sneakers For Men',
 'ORIFWSH(OR)-1077 Sneakers For Men',
 'Sneakers For Men',
 'Combo Pack of 4 Casual Shoes Sneakers For Men',
 'Sneakers For Men',
 'Sneakers Sneakers For Men',
 'Sneakers Sneakers For Men',
 "Men's Stylish Casual Shoes Sneakers For Men",
 'Perfect & Affordable Combo Pack of 02 Pairs Sneakers Ou...',
 'Shoes in Black Color Party wear/Outdoor/Casual Shoes Fo...',
 "Super & Trendy Men's Pack of 02 Pair Shoes for Boys Cas...",
 "Casual shoes,Sneakers for men's,shoes for men's Sneaker...",
 "Men's Combo Pack of 02 Shoes for Men Casual Sneakers Ou...",
 'Sneakers Sneakers For Men',
 'casual for men (beige 07) Sneakers For Men',
 'Lazy Knit Slip On IDP Sneakers For Men',
 'Series 7 Sneakers For Men',
 'Casual Sneakers White Shoes For Men Sneakers For Men',
 'Combo pack of 2 Casuals Shoes For Men (1563-1564) Sneak...',
 'Combo Pack of 4 Latest Collection Stylish Casual Loafer...',
 'Speed Set of 5 Pairs Sneakers Outdoors Casuals for Men ...',
 'SD-323 Sneakers For Men',
 'Sneakers For Men',
 "Luxury Branded Fashionable Men's Casual Walking Partywe...",
 'Combo Pack of 2 Casual Shoes Sneakers For Men',
 "Casual , Partywear Sneakers Shoes For Men's And Boys Wh...",
 'Sneakers For Men',
 "White Sneaker For Men's/Boy's Sneakers For Men",
 'Sneakers For Men',
 'Combo pack of 2 casual sneaker shoes for men Sneakers F...',
 '310 Sneakers For Men',
 'casual for men (blue 06) Sneakers For Men',
 'Super 445 Fashion Sneakers For Men',
 'ORIFWSH(OR)-1077 Sneakers For Men',
 'Sneakers For Men',
 'Combo Pack of 4 Casual Shoes Sneakers For Men',
 'Sneakers For Men',
 'Sneakers Sneakers For Men',
 'Sneakers Sneakers For Men',
 "Men's Stylish Casual Shoes Sneakers For Men",
 'Perfect & Affordable Combo Pack of 02 Pairs Sneakers Ou...',
 'Shoes in Black Color Party wear/Outdoor/Casual Shoes Fo...',
 "Super & Trendy Men's Pack of 02 Pair Shoes for Boys Cas...",
 "Casual shoes,Sneakers for men's,shoes for men's Sneaker...",
 "Men's Combo Pack of 02 Shoes for Men Casual Sneakers Ou...",
 'Sneakers Sneakers For Men',
 'casual for men (beige 07) Sneakers For Men',
 'Lazy Knit Slip On IDP Sneakers For Men',
 'Series 7 Sneakers For Men',
 'Casual Sneakers White Shoes For Men Sneakers For Men',
 'Combo pack of 2 Casuals Shoes For Men (1563-1564) Sneak...',
 'Combo Pack of 4 Latest Collection Stylish Casual Loafer...',
 'Speed Set of 5 Pairs Sneakers Outdoors Casuals for Men ...',
 'SD-323 Sneakers For Men',
 'Sneakers For Men',
 "Luxury Branded Fashionable Men's Casual Walking Partywe...",
 'Combo Pack of 2 Casual Shoes Sneakers For Men',
 "Casual , Partywear Sneakers Shoes For Men's And Boys Wh...",
 'Sneakers For Men',
 "White Sneaker For Men's/Boy's Sneakers For Men",
 'Sneakers For Men',
 'Combo pack of 2 casual sneaker shoes for men Sneakers F...']

In [336]:
for page in range(0,3):
    pr = driver.find_elements_by_xpath("//div[@class='_30jeq3']")

    for i in pr:
        try:
            title=i.text
            Price.append(title)
        except NoSuchElementException:
            Job_Description.append('_')    

    driver.find_element_by_xpath("//nav[@class='yFHi8N']/a").click()
Price[0:100]

['₹748',
 '₹389',
 '₹499',
 '₹349',
 '₹474',
 '₹377',
 '₹399',
 '₹499',
 '₹369',
 '₹226',
 '₹449',
 '₹661',
 '₹398',
 '₹242',
 '₹283',
 '₹199',
 '₹419',
 '₹283',
 '₹473',
 '₹377',
 '₹379',
 '₹472',
 '₹321',
 '₹448',
 '₹283',
 '₹499',
 '₹1,506',
 '₹378',
 '₹416',
 '₹499',
 '₹472',
 '₹499',
 '₹719',
 '₹630',
 '₹442',
 '₹418',
 '₹499',
 '₹525',
 '₹439',
 '₹365',
 '₹748',
 '₹389',
 '₹499',
 '₹349',
 '₹474',
 '₹377',
 '₹399',
 '₹499',
 '₹369',
 '₹226',
 '₹449',
 '₹661',
 '₹398',
 '₹242',
 '₹283',
 '₹199',
 '₹419',
 '₹283',
 '₹473',
 '₹377',
 '₹379',
 '₹472',
 '₹321',
 '₹448',
 '₹283',
 '₹499',
 '₹1,506',
 '₹378',
 '₹416',
 '₹499',
 '₹472',
 '₹499',
 '₹719',
 '₹630',
 '₹442',
 '₹418',
 '₹499',
 '₹525',
 '₹439',
 '₹365',
 '₹748',
 '₹389',
 '₹499',
 '₹349',
 '₹474',
 '₹377',
 '₹399',
 '₹499',
 '₹369',
 '₹226',
 '₹449',
 '₹661',
 '₹398',
 '₹242',
 '₹283',
 '₹199',
 '₹419',
 '₹283',
 '₹473',
 '₹377']

In [337]:
for page in range(0,3):
    d = driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']")

    for i in d:
        try:
            title=i.text
            Discount.append(title)
        except NoSuchElementException:
            Job_Description.append('_')    

    driver.find_element_by_xpath("//nav[@class='yFHi8N']/a").click()
Discount[0:100]

['62% off',
 '87% off',
 '50% off',
 '65% off',
 '52% off',
 '62% off',
 '60% off',
 '50% off',
 '26% off',
 '54% off',
 '77% off',
 '66% off',
 '60% off',
 '65% off',
 '43% off',
 '60% off',
 '58% off',
 '43% off',
 '73% off',
 '62% off',
 '81% off',
 '76% off',
 '67% off',
 '55% off',
 '43% off',
 '50% off',
 '49% off',
 '70% off',
 '58% off',
 '50% off',
 '52% off',
 '81% off',
 '71% off',
 '15% off',
 '55% off',
 '71% off',
 '75% off',
 '47% off',
 '56% off',
 '44% off',
 '62% off',
 '87% off',
 '50% off',
 '65% off',
 '52% off',
 '62% off',
 '60% off',
 '50% off',
 '26% off',
 '54% off',
 '77% off',
 '66% off',
 '60% off',
 '65% off',
 '43% off',
 '60% off',
 '58% off',
 '43% off',
 '73% off',
 '62% off',
 '81% off',
 '76% off',
 '67% off',
 '55% off',
 '43% off',
 '50% off',
 '49% off',
 '70% off',
 '58% off',
 '50% off',
 '52% off',
 '81% off',
 '71% off',
 '15% off',
 '55% off',
 '71% off',
 '75% off',
 '47% off',
 '56% off',
 '44% off',
 '62% off',
 '87% off',
 '50% off',
 '65% off',
 '52% off',
 '62% off',
 '60% off',
 '50% off',
 '26% off',
 '54% off',
 '77% off',
 '66% off',
 '60% off',
 '65% off',
 '43% off',
 '60% off',
 '58% off',
 '43% off',
 '73% off',
 '62% off']

In [338]:
import pandas as pd
Sneakers=pd.DataFrame({})

Sneakers['Brand']=Brand[:100]
Sneakers['Product Description']=Product_d[:100]
Sneakers['Price']=Price[:100]
Sneakers['Discount']=Discount[0:100]

Sneakers

,Brand,Product Description,Price,Discount
0,CALCADOS,Sneakers For Men,₹748,62% off
1,India hub,White Sneaker For Men's/Boy's Sneakers For Men,₹389,87% off
2,PEHANOSA,Sneakers For Men,₹499,50% off
3,Shoes Bank,Combo pack of 2 casual sneaker shoes for men S...,₹349,65% off
4,Robbie jones,310 Sneakers For Men,₹474,52% off
...,...,...,...,...
95,Absolute comfort,"Casual , Partywear Sneakers Shoes For Men's An...",₹199,60% off
96,SCATCHITE,Sneakers For Men,₹419,58% off
97,Birde,White Sneaker For Men's/Boy's Sneakers For Men,₹283,43% off
98,Chevit,Sneakers For Men,₹473,73% off
99,Alfiya,Combo pack of 2 casual sneaker shoes for men S...,₹377,62% off

# Q9: Go to the link - https://www.myntra.com/shoes Set Price filter to “Rs. 6649 to Rs. 13099” , Color filter to “Black” 
# And then scrape First 100 shoes data you get. The data should include “Brand” of the shoes , Short Shoe description, price of the shoe as shown in the below image.

In [429]:
driver=webdriver.Chrome(r'C:/chromedriver.exe')

In [430]:
driver.get('https://www.myntra.com/shoes')

driver.find_element_by_xpath("//input[@value='6649.0 TO 13099.0']").click() # this price range is not available in black color so not clicking this

In [431]:
driver.find_element_by_xpath("//span[@data-colorhex='black']").click()

In [432]:
Brand=[]
Product_d=[]
Price=[]

In [434]:
for page in range(0,3):
    b = driver.find_elements_by_xpath("//h3[@class='product-brand']")

    for i in b:
        title=i.text
        Brand.append(title)
    driver.find_element_by_xpath("//li[@class='pagination-number']/a").click()
Brand[0:100]

['Red Tape',
 'Skechers',
 'Nike',
 'MENGLER',
 'ASICS',
 'Nike',
 'HRX by Hrithik Roshan',
 'Nike',
 'Nabaiji By Decathlon',
 'Red Tape',
 'Nike',
 'Red Tape',
 'H&M',
 'Provogue',
 'Puma',
 'Skechers',
 'Campus',
 'Nike',
 'Eego Italy',
 'ADIDAS',
 'Puma',
 'Skechers',
 'DressBerry',
 'Nike',
 'ZAPATOZ',
 'Red Tape',
 'Red Tape',
 'HIGHLANDER',
 'Crew STREET',
 'Nike',
 'Red Tape',
 'Shezone',
 'Puma',
 'Reebok',
 'HRX by Hrithik Roshan',
 'Nike',
 'Allen Cooper',
 'Catwalk',
 'H&M',
 'Nike',
 'Puma',
 'HRX by Hrithik Roshan',
 'mr.wonker',
 'Puma',
 'HRX by Hrithik Roshan',
 'ADIDAS',
 'Champs',
 'Provogue',
 'DressBerry',
 'WROGN',
 'Red Tape',
 'Skechers',
 'Nike',
 'MENGLER',
 'ASICS',
 'Nike',
 'HRX by Hrithik Roshan',
 'Nike',
 'Nabaiji By Decathlon',
 'Red Tape',
 'Nike',
 'Red Tape',
 'H&M',
 'Provogue',
 'Puma',
 'Skechers',
 'Campus',
 'Nike',
 'Eego Italy',
 'ADIDAS',
 'Puma',
 'Skechers',
 'DressBerry',
 'Nike',
 'ZAPATOZ',
 'Red Tape',
 'Red Tape',
 'HIGHLANDER',
 'Crew STREET',
 'Nike',
 'Red Tape',
 'Shezone',
 'Puma',
 'Reebok',
 'HRX by Hrithik Roshan',
 'Nike',
 'Allen Cooper',
 'Catwalk',
 'H&M',
 'Nike',
 'Puma',
 'HRX by Hrithik Roshan',
 'mr.wonker',
 'Puma',
 'HRX by Hrithik Roshan',
 'ADIDAS',
 'ADIDAS Originals',
 'Vishudh',
 'Nike',
 'Campus']

In [435]:
for page in range(0,3):
    p = driver.find_elements_by_xpath("//h4[@class='product-product']")

    for i in p:
        de=i.text
        Product_d.append(de)
    driver.find_element_by_xpath("//li[@class='pagination-number']/a").click()
Product_d[0:100]

['Men Walking Shoes',
 'Men GO WALK MAX Walking Shoes',
 'Unisex COSMIC UNITY Basketball',
 'Men Walking Shoes',
 'Kids Solid Running Shoes',
 'AIR ZOOM PEGASUS Running Shoes',
 'Men Woven Design Walking Shoes',
 'Unisex PHANTOM Football Shoes',
 'Unisex Aqua Aerobics Shoes',
 'Men Walking Shoes',
 'HERITAGE VULC Skateboarding',
 'Men Walking Shoes',
 'Canvas trainers',
 'Men Solid Horsebit Loafers',
 'Unisex Kent 2.0 IDP Sneakers',
 'Women ULTRA FLEX Sneakers',
 'Men Running Shoes',
 'Men JOYRIDE Running Shoes',
 'Men Trekking Shoes',
 'Men Sturds Running Shoes',
 'Men Running Slip-On Sneakers',
 'Men GO RUN 7+ Running Shoes',
 'Women Solid Flats',
 'Men KD13 EP Basketball Shoes',
 'Women Walking Shoes',
 'Men Walking Shoes',
 'Men Walking Shoes',
 'Men Sneakers',
 'Men Woven Design Walking Shoes',
 'LEBRON XVIII Basketball Shoes',
 'Men Walking Shoes',
 'Women Animal Print Ballerinas',
 'Sneakers',
 'Men Flexagon 3.0 Training',
 'Men Flex Athleisure Shoes',
 'Men JORDAN DELTA Basketball',
 'Men Running Shoes',
 'Women Sandals',
 'Women Mules',
 'Men ZOOM SPAN 3 Running Shoes',
 'Men Cell Fraction Fade Running',
 'Women Charged-Up Running Shoes',
 'Men Running Shoes',
 'Women Running Shoes',
 'Men Running Shoes',
 'Women Proxima Running Shoes',
 'Men Running Shoes',
 'Men Knitted Upper Running Sport Shoes',
 'Women Solid Mid-Top Gladiators',
 'Men Solid Loafers',
 'Men Easy VULC 2.0 Skateboard',
 'Women Open Toe Flats',
 'Unisex LEBRON XVIII Basketball',
 'Men Running Shoes',
 'Men Solid Chelsea Boots',
 'Unisex COSMIC UNITY Basketball',
 'Women REACT Running Shoes',
 'Women Walking Shoes',
 'Men EQUALIZER 3.0- ASURES',
 'Men Running Shoes',
 'Men Mover Slip On Sneakers',
 'AIR ZOOM PEGASUS Running Shoes',
 'Men Adifloss Running Shoes',
 'Women Sandals',
 'Women Solid Lace-Up Sneakers',
 'Unisex PHANTOM Football Shoes',
 'Pre Contend 4 Ps Running Shoes',
 'Men CREST Walking Shoes',
 'HERITAGE VULC Skateboarding',
 'Women Heeled Boots',
 'Men Running Shoes',
 'Men Solid Sneakers',
 'Court Vision Alta Txt Sneakers',
 'Women Wedges',
 'Men Knit Run 1.0 Running Shoe',
 'Men Running Shoes',
 'Men Adicaz Running Shoes',
 'Women Sandals',
 'Men Skate Street Sneakers',
 'Men Running Shoes',
 'Men AIR MAX FUSION Sneakers',
 'Women Flex Running Shoes',
 'Men Running Shoes',
 'Unisex Slip-On Sneakers',
 'Men Woven Design Sneakers',
 'Women FLEX APPEAL 3.0 Sneakers',
 'Unisex NRGY Comet Running',
 'Men Response SR Running Shoes',
 'Men Solid Formal Slip-Ons',
 'Men Striped Racard Shoes',
 'Women Woven Design Walking Shoes',
 'Men Mesh Fuse Training Or Gym Shoes',
 'Women Pumps',
 'Men Woven Design Walking Shoes',
 'Men LITE RACER RBN 2 Running Shoes',
 'Men Loafers',
 'Men Sneakers',
 'Women T-Strap Flats',
 'Men ALPHATORSION Running Shoes',
 'Women Sneakers']

In [436]:
for page in range(0,3):
    pr = driver.find_elements_by_xpath("//span[@class='product-discountedPrice']")

    for i in pr:
        title=i.text
        Price.append(title)
    driver.find_element_by_xpath("//li[@class='pagination-number']/a").click()
Price[0:100]

['Rs. 2469',
 'Rs. 499',
 'Rs. 1529',
 'Rs. 965',
 'Rs. 12145',
 'Rs. 8996',
 'Rs. 1979',
 'Rs. 4249',
 'Rs. 996',
 'Rs. 2099',
 'Rs. 3229',
 'Rs. 1361',
 'Rs. 919',
 'Rs. 5996',
 'Rs. 689',
 'Rs. 2299',
 'Rs. 4121',
 'Rs. 839',
 'Rs. 996',
 'Rs. 1439',
 'Rs. 5395',
 'Rs. 599',
 'Rs. 1899',
 'Rs. 2879',
 'Rs. 599',
 'Rs. 1759',
 'Rs. 1679',
 'Rs. 1934',
 'Rs. 2449',
 'Rs. 2624',
 'Rs. 2399',
 'Rs. 2024',
 'Rs. 6079',
 'Rs. 3439',
 'Rs. 1499',
 'Rs. 4799',
 'Rs. 983',
 'Rs. 1679',
 'Rs. 3899',
 'Rs. 519',
 'Rs. 6499',
 'Rs. 2099',
 'Rs. 3439',
 'Rs. 12145',
 'Rs. 645',
 'Rs. 758',
 'Rs. 1679',
 'Rs. 5996',
 'Rs. 1469',
 'Rs. 4121',
 'Rs. 1799',
 'Rs. 849',
 'Rs. 1799',
 'Rs. 3999',
 'Rs. 1529',
 'Rs. 11246',
 'Rs. 899',
 'Rs. 3839',
 'Rs. 1999',
 'Rs. 599',
 'Rs. 2189',
 'Rs. 1799',
 'Rs. 995',
 'Rs. 919',
 'Rs. 1799',
 'Rs. 699',
 'Rs. 1574',
 'Rs. 4199',
 'Rs. 1799',
 'Rs. 939',
 'Rs. 1361',
 'Rs. 5756',
 'Rs. 3849',
 'Rs. 2089',
 'Rs. 699',
 'Rs. 2474',
 'Rs. 1504',
 'Rs. 824',
 'Rs. 712',
 'Rs. 1036',
 'Rs. 1799',
 'Rs. 2469',
 'Rs. 499',
 'Rs. 1529',
 'Rs. 965',
 'Rs. 12145',
 'Rs. 8996',
 'Rs. 1979',
 'Rs. 4249',
 'Rs. 996',
 'Rs. 2099',
 'Rs. 3229',
 'Rs. 1361',
 'Rs. 919',
 'Rs. 5996',
 'Rs. 689',
 'Rs. 2299',
 'Rs. 4121',
 'Rs. 839',
 'Rs. 996']

In [437]:
import pandas as pd
Shoes=pd.DataFrame({})

Shoes['Brand']=Brand[:100]
Shoes['Product Description']=Product_d[:100]
Shoes['Price']=Price[:100]

Shoes

               Brand             Product Description      Price
0           Red Tape               Men Walking Shoes   Rs. 2469
1           Skechers   Men GO WALK MAX Walking Shoes    Rs. 499
2               Nike  Unisex COSMIC UNITY Basketball   Rs. 1529
3            MENGLER               Men Walking Shoes    Rs. 965
4              ASICS        Kids Solid Running Shoes  Rs. 12145
..               ...                             ...        ...
95            ADIDAS                     Men Loafers    Rs. 689
96  ADIDAS Originals                    Men Sneakers   Rs. 2299
97           Vishudh             Women T-Strap Flats   Rs. 4121
98              Nike  Men ALPHATORSION Running Shoes    Rs. 839
99            Campus                  Women Sneakers    Rs. 996

[100 rows x 3 columns]

# Q10: Go to webpage https://www.amazon.in/  Enter “Laptop” in the search field and then click the search icon.  Then set CPU Type filter to “Intel Core i7” and “Intel Core i9” :
After setting the filters scrape first 10 laptops data. You have to scrape 3 attributes
for each laptop:
1. title
2. Ratings
3. Price
As shown in the below image as the tick marked attributes

In [438]:
driver=webdriver.Chrome(r'C:/chromedriver.exe')

In [439]:
driver.get('https://www.amazon.in/')

In [440]:
s = driver.find_element_by_id('twotabsearchtextbox')
s.send_keys("Laptop")

In [441]:
search_btn = driver.find_elements_by_xpath("//div[@class='nav-search-submit nav-sprite']/span")
search_btn[0].click()

In [443]:
driver.find_element_by_xpath("//a[@href='/s?k=Laptop&rh=n%3A1375424031%2Cp_n_feature_thirteen_browse-bin%3A12598163031&dc&qid=1623880319&rnid=12598141031&ref=sr_nr_p_n_feature_thirteen_browse-bin_26']/div").click()

In [445]:
driver.find_element_by_xpath("//a[@href='/s?k=Laptop&i=computers&rh=n%3A1375424031%2Cp_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&dc&qid=1623880509&rnid=12598141031&ref=sr_nr_p_n_feature_thirteen_browse-bin_27']/div").click()

In [446]:
url='https://www.amazon.in/s?k=Laptop&i=computers&rh=n%3A1375424031%2Cp_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&dc&qid=1623880509&rnid=12598141031&ref=sr_nr_p_n_feature_thirteen_browse-bin_27'

In [447]:
driver.get(url)

In [448]:
Title=[]
Ratings=[]
Price=[]

In [449]:
t = driver.find_elements_by_xpath("//a[@class='a-link-normal a-text-normal']")
t[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="e11961df137d20262bed6d5adbf10db7", element="b10c42ec-d294-435e-9fc2-8259f57a221c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e11961df137d20262bed6d5adbf10db7", element="e4f90829-ce21-4b96-b002-58ff058c211a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e11961df137d20262bed6d5adbf10db7", element="c320262f-a006-4999-a01a-82bbfa591eae")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e11961df137d20262bed6d5adbf10db7", element="9f6fa34d-1775-4500-b88c-7b040b617acd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e11961df137d20262bed6d5adbf10db7", element="ba73f346-b108-4083-b753-1f11f3ff94b5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e11961df137d20262bed6d5adbf10db7", element="4337d628-0640-4540-a33e-aa0ad819db8a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e11961df137d20262bed6d5adbf10db7", element="6a75bed4-9c2b-4ef6-b138-04bb444d876c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e11961df137d20262bed6d5adbf10db7", element="d7846ce8-b819-4083-b7f8-d097b08119fe")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e11961df137d20262bed6d5adbf10db7", element="133339ee-30b9-4738-bf09-ce36da3dada9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e11961df137d20262bed6d5adbf10db7", element="0aec5456-211a-4948-ba3f-84277a40c26e")>]

In [455]:
for i in t:
    title=i.text
    Title.append(title)
Title[0:10]

['Vaio Z NZ14V3IN001P 14 inch/35.56 cm(Intel Core i7-11375H/32GB/2TB SSD/ Intel Iris Xe Graphics/Fingerprint Reader/UHD(4K)/win10 pro) 1.06kg, Signature Black',
 'ASUS ZenBook 14 (2020) Intel Core i7-1165G7 11th Gen 14" (35.56cms) FHD T&L Laptop (16GB RAM/512GB NVMe SSD/Windows 10/MS Office 2019/Intel Iris Xáµ‰ Graphics/Pine Grey/1.17 kg), UX425EA-BM701TS',
 'Mi Notebook Horizon Edition 14 Intel Core i5-10210U 10th Gen 14-inch (35.56 cms) Thin and Light Laptop(8GB/512GB SSD/Windows 10/Nvidia MX350 2GB Graphics/Grey/1.35Kg), XMA1904-AR+Webcam',
 'Dell Inspiron 5410 14" FHD Touch Display 2in1 Laptop (i7-1165G7 / 16GB / 512GB SSD / Integrated Graphics / Win 10 + MSO / Backlit KB + FPR + Active Pen / Silver Metal Color) D560469WIN9S',
 'Lenovo Yoga 7 11th Gen Intel Core i7 14" (35.56cms) Full HD IPS 2-in-1 Touchscreen Laptop (16GB/512GB SSD/Windows 10/MS Office 2019/Fingerprint Reader/Slate Grey/Aluminium Surface/1.43Kg), 82BH004HIN',
 'HP Pavilion Gaming 10th Gen Intel Core i7 Processor 15.6-inch FHD Gaming Laptop (16GB/512GB SSD + 32GB Intel Optane/Windows 10/NVIDIA 1650Ti 4GB/Shadow Black), 15-dk1509TX',
 'HP Pavilion (2021) Thin & Light 11th Gen Core i7 Laptop, 16 GB RAM, 1TB SSD, Iris Xe Graphics, 14" (35.56cms) FHD Screen, Windows 10, MS Office, Backlit Keyboard (14-dv0058TU)',
 'HP 14 Thin & Light 14" (35.56cms) FHD Laptop (11th Gen Intel i7-1165G7/8GB/512GB SSD/Windows 10/MS Office 2019/Alexa Built-in/Pale Gold/1.47 kg), 14s-dr2007TU',
 'ASUS ROG G703GI-E5148T 17.3" (43.94 cms) FHD 144Hz/3ms Gaming Laptop (8th Gen Intel Core i9-8950HK/64GB/2TB SSHD + 1.5TB NVMe SSD/Windows 10/GTX 1080 8GB Graphics/4.70 Kg), Aluminum',
 'Life Digital Laptop 15.6-inch (39.62 cms) (Intel Core i7, 4GB RAM, 256GB SSD, Windows 10), ZED AIR CX7']

In [461]:
urls=[]
for i in driver.find_elements_by_xpath("//a[@class='a-link-normal a-text-normal']"):
    urls.append(i.get_attribute('href'))
urls

['https://www.amazon.in/gp/slredirect/picassoRedirect.html/ref=pa_sp_atf_computers_sr_pg1_1?ie=UTF8&adId=A10045512VJ2J0MX3KSNP&url=%2FNZ14V3IN001P-i7-11375H-Graphics-Fingerprint-Signature%2Fdp%2FB092DTT7MC%2Fref%3Dsr_1_1_sspa%3Fdchild%3D1%26keywords%3DLaptop%26qid%3D1623880627%26refinements%3Dp_n_feature_thirteen_browse-bin%253A12598163031%257C16757432031%26rnid%3D12598141031%26s%3Dcomputers%26sr%3D1-1-spons%26psc%3D1&qualifier=1623880627&id=4450364346510330&widgetName=sp_atf',
 'https://www.amazon.in/gp/slredirect/picassoRedirect.html/ref=pa_sp_atf_computers_sr_pg1_1?ie=UTF8&adId=A04420683MV3WO5AAXS0A&url=%2FASUS-ZenBook-i7-1165G7-Graphics-UX425EA-BM701TS%2Fdp%2FB08M4SWRR5%2Fref%3Dsr_1_2_sspa%3Fdchild%3D1%26keywords%3DLaptop%26qid%3D1623880627%26refinements%3Dp_n_feature_thirteen_browse-bin%253A12598163031%257C16757432031%26rnid%3D12598141031%26s%3Dcomputers%26sr%3D1-2-spons%26psc%3D1&qualifier=1623880627&id=4450364346510330&widgetName=sp_atf',
 'https://www.amazon.in/Notebook-Horizon-i5-10210U-Graphics-XMA1904-AR/dp/B089F5JGM1/ref=sr_1_3?dchild=1&keywords=Laptop&qid=1623880627&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-3',
 'https://www.amazon.in/Dell-5410-i7-1165G7-Integrated-D560469WIN9S/dp/B095S9NJ4S/ref=sr_1_4?dchild=1&keywords=Laptop&qid=1623880627&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-4',
 'https://www.amazon.in/Lenovo-Touchscreen-Fingerprint-Aluminium-82BH004HIN/dp/B08P3M22QQ/ref=sr_1_5?dchild=1&keywords=Laptop&qid=1623880627&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-5',
 'https://www.amazon.in/HP-Pavilion-Processor-15-6-inch-15-dk1509TX/dp/B08ZN7GBQ5/ref=sr_1_6?dchild=1&keywords=Laptop&qid=1623880627&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-6',
 'https://www.amazon.in/HP-Pavilion-Graphics-35-56cms-14-dv0058TU/dp/B08WB857GB/ref=sr_1_7?dchild=1&keywords=Laptop&qid=1623880627&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-7',
 'https://www.amazon.in/HP-35-56cms-i7-1165G7-Windows-14s-dr2007TU/dp/B08N57LR4X/ref=sr_1_8?dchild=1&keywords=Laptop&qid=1623880627&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-8',
 'https://www.amazon.in/Asus-G703GI-E5148T-17-3-inch-i9-8950HK-Processor/dp/B07GRCW51K/ref=sr_1_9?dchild=1&keywords=Laptop&qid=1623880627&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-9',
 'https://www.amazon.in/LifeDigital-Laptop-Intel%C2%AE-Storage-Windows/dp/B08HRMHZ8J/ref=sr_1_10?dchild=1&keywords=Laptop&qid=1623880627&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-10',
 'https://www.amazon.in/Lenovo-Ideapad-Graphics-Graphite-82FG0117IN/dp/B092MV9ZF6/ref=sr_1_11?dchild=1&keywords=Laptop&qid=1623880627&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-11',
 'https://www.amazon.in/HP-Pavilion-Touchscreen-Graphics-14-dh0112tx/dp/B08C5VYGPG/ref=sr_1_12?dchild=1&keywords=Laptop&qid=1623880627&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-12',
 'https://www.amazon.in/ASUS-GL504GM-ES155T-15-6-inch-i7-8750H-Graphics/dp/B0975SH4LC/ref=sr_1_13?dchild=1&keywords=Laptop&qid=1623880627&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-13',
 'https://www.amazon.in/ASUS-Zephyrus-i7-10875H-RTX-2080-GX550LXS-HC145TS/dp/B08GQZZQY3/ref=sr_1_14?dchild=1&keywords=Laptop&qid=1623880627&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-14',
 'https://www.amazon.in/gp/slredirect/picassoRedirect.html/ref=pa_sp_mtf_computers_sr_pg1_1?ie=UTF8&adId=A0143265PXFOJN8HKFOY&url=%2FASUS-ZenBook-i7-10510U-Celestial-UX481FL-HJ143TS%2Fdp%2FB08CHGC2M8%2Fref%3Dsr_1_15_sspa%3Fdchild%3D1%26keywords%3DLaptop%26qid%3D1623880627%26refinements%3Dp_n_feature_thirteen_browse-bin%253A12598163031%257C16757432031%26rnid%3D12598141031%26s%3Dcomputers%26sr%3D1-15-spons%26psc%3D1&qualifier=1623880627&id=4450364346510330&widgetName=sp_mtf',
 'https://www.amazon.in/gp/slredirect/picassoRedirect.html/ref=pa_sp_mtf_computers_sr_pg1_1?ie=UTF8&adId=A01190332FKPF8SXFETYZ&url=%2FASUS-VivoBook-i7-1165G7-Graphics-S433EA-AM702TS%2Fdp%2FB08SN9GJXH%2Fref%3Dsr_1_16_sspa%3Fdchild%3D1%26keywords%3DLaptop%26qid%3D1623880627%26refinements%3Dp_n_feature_thirteen_browse-bin%253A12598163031%257C16757432031%26rnid%3D12598141031%26s%3Dcomputers%26sr%3D1-16-spons%26psc%3D1&qualifier=1623880627&id=4450364346510330&widgetName=sp_mtf',
 'https://www.amazon.in/Lenovo-Upgradable-Integrated-Graphics-WARRANTY/dp/B092Z88D2F/ref=sr_1_17?dchild=1&keywords=Laptop&qid=1623880627&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-17',
 'https://www.amazon.in/Lenovo-Legion-Gaming-Windows-82AW005SIN/dp/B08CQ21154/ref=sr_1_18?dchild=1&keywords=Laptop&qid=1623880627&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-18',
 'https://www.amazon.in/ASUS-ZenBook-i7-1165G7-Graphics-UX425EA-BM701TS/dp/B08M4SWRR5/ref=sr_1_19?dchild=1&keywords=Laptop&qid=1623880627&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-19',
 'https://www.amazon.in/Dell-Alienware-m15-R3-15-6-inch/dp/B08BZR715W/ref=sr_1_20?dchild=1&keywords=Laptop&qid=1623880627&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-20',
 'https://www.amazon.in/Dell-15-6inch-i9-10885H-Graphics-D560233WIN9B/dp/B09774SL5T/ref=sr_1_21?dchild=1&keywords=Laptop&qid=1623880627&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-21',
 'https://www.amazon.in/Lenovo-ThinkPad-Fingerprint-Aluminium-20TDS0G100/dp/B095SRBZHC/ref=sr_1_22?dchild=1&keywords=Laptop&qid=1623880627&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-22',
 'https://www.amazon.in/Lenovo-IdeaPad-15-6-inch-Windows-81Y400VAIN/dp/B08PV48PYW/ref=sr_1_23?dchild=1&keywords=Laptop&qid=1623880627&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-23',
 'https://www.amazon.in/ASUS-VivoBook-i7-1165G7-Graphics-S433EA-AM701TS/dp/B08PQTZB3Z/ref=sr_1_24?dchild=1&keywords=Laptop&qid=1623880627&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-24',
 'https://www.amazon.in/Lenovo-Upgradable-Integrated-Graphics-WARRANTY/dp/B092Z9TGBP/ref=sr_1_25?dchild=1&keywords=Laptop&qid=1623880627&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-25',
 'https://www.amazon.in/Dell-9570-15-6-inch-i9-8950HK-Integrated/dp/B08C5FMBLB/ref=sr_1_26?dchild=1&keywords=Laptop&qid=1623880627&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-26',
 'https://www.amazon.in/ASUS-i9-10980HK-Touchscreen-Celestial-UX581LV-H2035T/dp/B08CHDLVT1/ref=sr_1_27?dchild=1&keywords=Laptop&qid=1623880627&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-27',
 'https://www.amazon.in/HP-Convertible-Touchscreen-13-3-inch-13-bd0063TU/dp/B08NDMSMPS/ref=sr_1_28?dchild=1&keywords=Laptop&qid=1623880627&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-28',
 'https://www.amazon.in/gp/slredirect/picassoRedirect.html/ref=pa_sp_btf_computers_sr_pg1_1?ie=UTF8&adId=A0045435YGM7O0WPYE2D&url=%2FASUS-ZenBook-i7-10510U-Graphics-UX481FL-BM149T%2Fdp%2FB08BPP455H%2Fref%3Dsr_1_29_sspa%3Fdchild%3D1%26keywords%3DLaptop%26qid%3D1623880627%26refinements%3Dp_n_feature_thirteen_browse-bin%253A12598163031%257C16757432031%26rnid%3D12598141031%26s%3Dcomputers%26sr%3D1-29-spons%26psc%3D1&qualifier=1623880627&id=4450364346510330&widgetName=sp_btf',
 'https://www.amazon.in/gp/slredirect/picassoRedirect.html/ref=pa_sp_btf_computers_sr_pg1_1?ie=UTF8&adId=A01188772Q80SY6SXZKAB&url=%2FASUS-i7-1165G7-13-3-inch-Graphics-UX371EA-HL701TS%2Fdp%2FB08P63QH9F%2Fref%3Dsr_1_30_sspa%3Fdchild%3D1%26keywords%3DLaptop%26qid%3D1623880627%26refinements%3Dp_n_feature_thirteen_browse-bin%253A12598163031%257C16757432031%26rnid%3D12598141031%26s%3Dcomputers%26sr%3D1-30-spons%26psc%3D1&qualifier=1623880627&id=4450364346510330&widgetName=sp_btf']

In [464]:
Ratings=[]
for i in urls[:10]:
    driver.get(i)
    time.sleep(3)
    # fetching job description
    
    try:
        rate=driver.find_element_by_xpath("//span[@class='a-size-medium a-color-base']")
        Ratings.append(rate.text.replace('\n'," "))
        
    except NoSuchElementException:
        Ratings.append('_')

In [465]:
Ratings

['1 out of 5',
 '4.4 out of 5',
 '4.4 out of 5',
 '_',
 '4.2 out of 5',
 '4.1 out of 5',
 '4.5 out of 5',
 '4.7 out of 5',
 '3.7 out of 5',
 '3.1 out of 5']

In [458]:
p = driver.find_elements_by_xpath("//span[@class='a-price-whole']")
p[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="e11961df137d20262bed6d5adbf10db7", element="eed544c6-cf3d-486a-8297-32e9d6f228c6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e11961df137d20262bed6d5adbf10db7", element="0f2c60b6-5634-4a09-9922-70a1e6974b1c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e11961df137d20262bed6d5adbf10db7", element="4398af8d-38e8-402e-9fc4-68e48474da0e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e11961df137d20262bed6d5adbf10db7", element="2d6e2f37-0b7c-471d-9a1b-77276c02db4e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e11961df137d20262bed6d5adbf10db7", element="5d6940a2-8fbe-4399-8855-a120b8d0b64b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e11961df137d20262bed6d5adbf10db7", element="9591d9a5-a8dd-4151-856a-1b743620b9ba")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e11961df137d20262bed6d5adbf10db7", element="109c787a-6260-4d68-b386-95fb561a2c54")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e11961df137d20262bed6d5adbf10db7", element="68f81426-954d-4544-bd3a-8dbd5ac0d307")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e11961df137d20262bed6d5adbf10db7", element="ff8ffb45-aee1-4bb3-a113-f217c370010b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e11961df137d20262bed6d5adbf10db7", element="119cc1be-986e-46e6-b674-a7fb16570213")>]

In [459]:
for i in p:
    title=i.text
    Price.append(title)
Price[0:10]

['3,52,990',
 '99,990',
 '54,999',
 '97,990',
 '86,990',
 '84,990',
 '89,990',
 '5,39,322',
 '26,990',
 '76,990']

In [466]:
import pandas as pd
table=pd.DataFrame({})

table['Title']=Title[:10]
table['Ratings']=Ratings[:10]
table['Price']=Price[0:10]

table

                                               Title       Ratings     Price
0  Vaio Z NZ14V3IN001P 14 inch/35.56 cm(Intel Cor...    1 out of 5  3,52,990
1  ASUS ZenBook 14 (2020) Intel Core i7-1165G7 11...  4.4 out of 5    99,990
2  Mi Notebook Horizon Edition 14 Intel Core i5-1...  4.4 out of 5    54,999
3  Dell Inspiron 5410 14" FHD Touch Display 2in1 ...             _    97,990
4  Lenovo Yoga 7 11th Gen Intel Core i7 14" (35.5...  4.2 out of 5    86,990
5  HP Pavilion Gaming 10th Gen Intel Core i7 Proc...  4.1 out of 5    84,990
6  HP Pavilion (2021) Thin & Light 11th Gen Core ...  4.5 out of 5    89,990
7  HP 14 Thin & Light 14" (35.56cms) FHD Laptop (...  4.7 out of 5  5,39,322
8  ASUS ROG G703GI-E5148T 17.3" (43.94 cms) FHD 1...  3.7 out of 5    26,990
9  Life Digital Laptop 15.6-inch (39.62 cms) (Int...  3.1 out of 5    76,990